/*font*/
.xui-ui-ctrl, .xui-ui-reset{
    color:#444; 
	font-size: 1rem;
    font-family:arial, helvetica, clean, sans-serif; 
    font-weight:normal; 
}
.xui-title-node{
	font-size:1.1667em;
}
.xuifont, .xuicon{
  font-size:1.175em;
}
.xuifont-hover, .xuicon-hover{
	color: #888;
}
.xuifont-active, .xuicon-active{
	color: #222; 
}
.xuifont-checked, .xuicon-checked{
	color: #000; 
}
.xui-ui-ctrl-highlight, .xui-node-highlight, .xui-uibar-checked, .xui-uibar-expand,  .xui-uimenu-hover,.xui-uimenu-active{
	color:#444;
}
/*background*/
.xui-uibase{
    background-color:#FFFFFF;
}
.xui-uibar{
    background-color:#F8F6F2;
}
.xui-uibar-hover{
    background-color:#EEECE8;
}
.xui-uibar-active, .xui-uibar-checked, .xui-uibar-expand, 
.xui-uimenu-hover, .xui-uimenu-active{
    background-color:#CFE4FE;
}
.xui-uibar-top .xui-uibar-tdb{
  display:block;
}

/*border*/
.xui-uiborder-radius, .xui-uiborder-radius-big, 
.xui-uiborder-radius-tl, .xui-uiborder-radius-tr, .xui-uiborder-radius-bl, .xui-uiborder-radius-br,
.xui-uiborder-radius-big-tl, .xui-uiborder-radius-big-tr, .xui-uiborder-radius-big-bl, .xui-uiborder-radius-big-br{
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -khtml-border-radius: 0;
}
.xui-uiborder-l{
    border-left-color:#fff;
}
.xui-uiborder-t{
    border-top-color:#fff;
}
.xui-uiborder-r{
    border-right-color:#ccc;
}
.xui-uiborder-b, .xui-uitem-split{
    border-bottom-color:#ccc;
}
.xui-uiborder-flat{
    border-color:#ccc;
}
.xui-uiborder-outset{
    border-color:#fff #ccc #ccc #fff;
}
.xui-uiborder-inset, .xui-uiborder-hidden-active, .xui-uiborder-hidden-checked{
    border-color:#ccc #fff #fff #ccc;
}
.xui-uiborder-hidden-active, .xui-uiborder-hidden-checked{
    background: #fff;
}
.xui-uiborder-dark, .xui-uiborder-flat-hover, .xui-tabs-item{
    border-color: #bcbcbc;
}
.xui-uiborder-light, .xui-uiborder-hidden-hover{
    border-color:#efefef;
}

/*item*/
.xui-uitembg{
}
.xui-uitembg-hover{
  border-color:transparent;
  background-color: #EBF3FD;
}
.xui-uitembg-active{
  border-color:transparent;
  background-color:#F1F7FE;
}
.xui-uitembg-checked{
  border-color:transparent;
  background-color:#CFE4FE;
  border-left: solid 3px #ff0000;
}
.xui-block-fold .xui-block-sidebar{
  background-color:#CFE4FE;
}
/*gradient*/
.xui-uigradient{
    color:#444; 
    background:none;
    filter: none;
    -ms-filter: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color:#ccc;
    background: #eee;
}
.xui-uigradient-hover, .xui-uigradient:hover{
    border-color:#bbb;
    background: #EAEAEA;
}
.xui-uigradient-active, .xui-uigradient-checked,  .xui-uigradient-expand, 
.xui-uigradient:active, 
.xui-uigradient-active:hover, .xui-uigradient-checked:hover, .xui-uigradient-expand:hover{
    background: #ababab;
    text-shadow: none;
}

/*uicontainer*/
.xui-uibar-focus, 
.xui-uibar-top-focus .xui-uibar-tdl,
.xui-uibar-top-focus .xui-uibar-tdm,
.xui-uibar-top-focus .xui-uibar-tdr{
  background-color: #ededed;
}

/*xui.UI.PopMenu*/
.xui-popmenu-sub{
    top: .33333em;
}

/*xui.UI.Tabs*/
.xui-tabs-items{
     padding:0;
}
.xui-tabs-listbg{
     background:none;
     border-top:0;
}
.xui-tabs-item{
    background-color: transparent;
    border-color: transparent;
    margin:0 4px;
    padding-top:2px;
}
.xui-tabs-item-hover, .xui-tabs-item-active, .xui-tabs-item-checked{
    border-left: solid 1px #ccc;
    border-top: solid 1px #ccc;
    border-right: solid 1px #ccc;
}
.xui-tabs-item-active, .xui-tabs-item-checked{
    background-color: #ffffff;
    border-top: solid 3px #ff0000;
    padding-top:0;
}

.xui-buttonviews-item{
    margin:0;
    border:0;
    background:none;
}
.xui-buttonviews-item-hover, .xui-buttonviews-item:hover{
    background:#ffffff;
}
.xui-buttonviews-item-active, .xui-buttonviews-item:active{
    background:#ffffff;
}
.xui-buttonviews-item-checked, .xui-buttonviews-item:checked{
    background:#ffffff;
}
.xui-buttonviews-list-attop .xui-buttonviews-item{
    padding-top:3px;
}
.xui-buttonviews-list-attop .xui-buttonviews-item-checked{
    border-top:solid 3px #ff0000;
	border-left:solid 1px #CFE4FE;
	border-right:solid 1px #CFE4FE;
    padding-top:0;
}
.xui-buttonviews-list-atbottom .xui-buttonviews-item{
    padding-bottom:3px;
}
.xui-buttonviews-list-atbottom .xui-buttonviews-item-checked{
    border-bottom:solid 3px #ff0000;
	border-left:solid 1px #CFE4FE;
	border-right:solid 1px #CFE4FE;
    padding-bottom:0;
}
.xui-buttonviews-list-atleft .xui-buttonviews-item{
    padding-left:3px;
}
.xui-buttonviews-list-atleft .xui-buttonviews-item-checked{
    border-left:solid 3px #ff0000;
	border-top:solid 1px #CFE4FE;
	border-bottom:solid 1px #CFE4FE;
    padding-left:0;
}
.xui-buttonviews-list-atright .xui-buttonviews-item{
    padding-right:3px;
}
.xui-buttonviews-list-atright .xui-buttonviews-item-checked{
    border-right:solid 3px #ff0000;
	border-top:solid 1px #CFE4FE;
	border-bottom:solid 1px #CFE4FE;
    padding-right:0;
}
.xui-buttonviews-menu2, .xui-buttonviews-itemc{
	padding-top: .5em;
	padding-bottom: .5em;
}

/*to adjust item size*/
.xui-tabs-handle{
  padding:1px 1px 0 1px;
}
.xui-tabs-item-hover .xui-tabs-handle, 
.xui-tabs-item-active .xui-tabs-handle, 
.xui-tabs-item-checked .xui-tabs-handle{
  padding:1px 1px 0 1px;
}

/*xui.UI.TreeGrid*/
.xui-treegrid-cells1-active, .xui-treegrid-cells2-active, 
.xui-treegrid-cell-active, .xui-treegrid-cell-active .xui-treegrid-cella{
    background-color: #B0EAFA;
}
.xui-treegrid-cells1-hot, .xui-treegrid-cells2-hot{
    background-color: #FFE97F;
}
.xui-uicell-checked,
.xui-treegrid-cell-checked,
.xui-treegrid-cells1-checked,
.xui-treegrid-cells2-checked{
    background-color: #ccc;
    color:#fff;
}
.xui-uicell-hover,
.xui-treegrid-cell-hover{
    background-color: #D9E8FB !important;
}
.xui-treegrid-fhcell, .xui-treegrid-hcell, .xui-treegrid-hscell{
    border-left-color:transparent;
    border-top-color:transparent;
}

/*
.xui-ui-shadow{}
.xui-special-icon{}
.xui-required{}
.xui-alert{}
*/
.xui-ui-shadow-input {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/** important => the last one: this theme's name */
.setting-uikey{
    font-family: classic;
}