/*base size*/
.xui-node{
		font-size: 12px;
}
.xuifont, .xuicon{
  font-size:1.33333em;
	/*for IE67 */
  _font-size:16px;
}
.xuifont.inner{
  font-size:1em;
	/*for IE67 */
  _font-size:16px;
  line-height:1em;
}

/*background [[[colors]]]*/
html, .xui-uibg-base{
    background-color:#FCFCFC;
}
.xui-uibg-content{
    background-color:#fff;
}
.xui-uibg-bar{
    background-color:#C6E0EF;
}
.xui-uibg-bar-mouseover{
    background-color:#C5E5F6;
}
.xui-uiborder-linkbottombar{
   border-bottom-color:#C6E0EF;
}
/*border  [[[colors]]]*/
.xui-hiddenborder{
    border:solid 1px #fff;
}
.xui-hiddenborder-mouseover{
    border:solid 1px #C6E0EF;
}
.xui-hiddenborder-mousedown,.xui-hiddenborder-checked{
    border:solid 1px #7ba3cb;
}
.xui-uiborder-flat{
    border-color:#7ba3cb;
}
.xui-uiborder-l{
    border-left-color:#F1FAFF;
}
.xui-uiborder-t{
    border-top-color:#F1FAFF;
}
.xui-uiborder-r{
    border-right-color:#7ba3cb;
}
.xui-uiborder-b{
    border-bottom-color:#7ba3cb;
}
.xui-uiborder-lr{
    border-left-color:#F1FAFF;
    border-right-color:#7ba3cb;
}
.xui-uiborder-tb{
    border-top-color:#F1FAFF;
    border-bottom-color:#7ba3cb;
}
.xui-uiborder-lt{
    border-left-color:#F1FAFF;
    border-top-color:#F1FAFF;
}
.xui-uiborder-rb{
    border-right-color:#7ba3cb;
    border-bottom-color:#7ba3cb;
}
.xui-uiborder-outset{
    border-color:#F1FAFF #7ba3cb #7ba3cb #F1FAFF;
}
.xui-uiborder-inset{
    border-color:#7ba3cb #F1FAFF #F1FAFF #7ba3cb;
}
.xui-uiborder-r2{
    border-right-color:#f1f1f1;
}
.xui-uiborder-b2{
    border-bottom-color:#f1f1f1;
}
.xui-uiborder-rb2{
    border-right-color:#f1f1f1;
    border-bottom-color:#f1f1f1;
}
/*item [[[colors]]]*/
/*xui.UI.List*/
/*xui.UI.TreeView*/
.xui-uitembg-mouseover, .xui-uitembg-mousedown, .xui-uitembg-checked{
    background-image: url(Public/uitembg.gif);
    background-repeat:repeat-x;
	   border-color:#c9c9c9;
}
.xui-uitembg-mouseover{
	background-position: left -51px;
	background-color: #EBF3FD;
}
.xui-uitembg-mousedown{
	background-position: left -101px;
	background-color:#C1DBFC;
}
.xui-uitembg-checked{
	background-position:left top;
	background-color:#CFE4FE;
}


.xui-uibarbg, .xui-uipicbg-mouseover, .xui-uipicbg-checked{
    background-color:#E1F5FE;
}
.xui-uibarbg-mouseover, .xui-uibarbg2-mouseover{
    background-color:#C5E5F6;
}
.xui-uibarbg-mousedown, .xui-uibarbg2-mousedown{
    background-color:#B9D8EB;
}
.xui-uibarbg-checked, .xui-uibarbg2-checked{
    background-color:#C6E0EF;
}

/*common*/
.xui-ui-inputdisabled,   .xui-ui-itemdisabled,  .xui-ui-disabled input, .xui-ui-itemdisabled input, .xui-ui-disabled textarea, .xui-ui-itemdisabled textarea{
   background-color:#eee;
}
/*
.xui-tips-c {}

.xui-ui-draggable{}
.xui-uiw-shell{}
.xui-uiw-frame{}
.xui-uiw-border{}
.xui-ui-invalid, .xui-ui-invalid *{}
.xui-ui-ctrl{}
.xui-cover{}
.xui-coverlabel{}
*/
/*xui-border*/
.xui-border-t{
    top:-3px;
    height:5px;
    background-image: url('Border/vertical.gif')
}
.xui-border-b{
    bottom:-3px;
    height:5px;
    background-image: url('Border/vertical.gif')
}
.xui-border-l{
    left:-3px;
    width:5px;
    background-image: url('Border/horizontal.gif')
}
.xui-border-r{
    right:-3px;
    width:5px;
    background-image: url('Border/horizontal.gif')
}
.xui-border-lt{
    left:-3px;
    top:-3px;
    width:5px;
    height:5px;
    background-image: url('Border/corner.gif')
}
.xui-border-rt{
    right:-3px;
    top:-3px;
    width:5px;
    height:5px;
    background-image: url('Border/corner.gif')
}
.xui-border-rb{
    right:-3px;
    bottom:-3px;
    width:5px;
    height:5px;
    background-image: url('Border/corner.gif')
}
.xui-border-lb{
    left:-3px;
    bottom:-3px;
    width:5px;
    height:5px;
    background-image: url('Border/corner.gif')
}
.xui-ui-gradientbg, .xui-ui-btn{
    border-color:#8F8F8F;
    -moz-box-shadow:inset 0px 1px 0px 0px #E7F1F6;
    -webkit-box-shadow:inset 0px 1px 0px 0px #E7F1F6;
    box-shadow:inset 0px 1px 0px 0px #E7F1F6;    
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E7F1F6', endColorstr='#2DB8E5');
    background: linear-gradient(top,  #E7F1F6,  #2DB8E5);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E7F1F6), to(#2DB8E5));
    background: -moz-linear-gradient(top,  #E7F1F6,  #2DB8E5);
    background: -o-linear-gradient(top,  #E7F1F6,  #2DB8E5);  
}
.xui-ui-gradientbg-mouseover, .xui-ui-btn:hover, .xui-ui-btn-mouseover{
    border-color:#717171;
}
.xui-ui-gradientbg-expand, .xui-ui-gradientbg-mousedown, .xui-ui-gradientbg-checked,
.xui-ui-btn:active, .xui-ui-btn-mousedown, .xui-ui-btn-checked{
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2DB8E5', endColorstr='#E7F1F6');
    background: linear-gradient(top,  #2DB8E5,  #E7F1F6);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2DB8E5), to(#E7F1F6));
    background: -moz-linear-gradient(top,  #2DB8E5,  #E7F1F6);
    background: -o-linear-gradient(top,  #2DB8E5,  #E7F1F6);  
}

/*uibar*/
.xui-uibar-top .xui-uibar-tdl, .xui-uibar-top .xui-uibar-tdm, .xui-uibar-top .xui-uibar-tdr, 
.xui-uibar-top-s .xui-uibar-tdl, .xui-uibar-top-s .xui-uibar-tdm, .xui-uibar-top-s .xui-uibar-tdr, 
.xui-uibar-bottom .xui-uibar-tdl, .xui-uibar-bottom .xui-uibar-tdm, .xui-uibar-bottom .xui-uibar-tdr,
.xui-uibar-bottom-s .xui-uibar-tdl, .xui-uibar-bottom-s .xui-uibar-tdm, .xui-uibar-bottom-s .xui-uibar-tdr{
    background-color: transparent;
    border: none;
    background-image: url(Public/bar_vertical.gif);
    background-repeat: no-repeat;
    background-position: left top;
}
.xui-uicon-main, .xui-uicon-maini{
	border:none;
}
.xui-uibar-top .xui-uibar-tdl{
	background-position: 0 0;
}
.xui-uibar-top .xui-uibar-tdm{
	background-position: 0 -30px;
	background-repeat: repeat-x;
}
.xui-uibar-top .xui-uibar-tdr{
	background-position: right -60px;
}
.xui-uibar-top-focus .xui-uibar-tdl{
	background-position: left -90px;
}
.xui-uibar-top-focus .xui-uibar-tdm{
	background-position: left -120px;
	background-repeat: repeat-x;
}
.xui-uibar-top-focus .xui-uibar-tdr{
	background-position: right -150px;
}
.xui-uibar-top-s, .xui-uibar-bottom-s{
    height:5px;
}
/*.xui-uibar-top .xui-uibar-cmdr{
}*/
.xui-uicon-main{
    background-image: url(Public/bar_horizontal.gif);
      background-repeat: repeat-y;
      background-position: -595px top;
}
.xui-uicon-maini{
    background-image: url(Public/container_right.gif);
    background-repeat: repeat-y; 
    background-position: right top;
}


.xui-uibar-bottom{
    height:6px;
}
.xui-uibar-bottom .xui-uibar-tdl{
	background-position: left -189px;
}
.xui-uibar-bottom .xui-uibar-tdm{
	background-position: left -211px;
	background-repeat: repeat-x;
}
.xui-uibar-bottom .xui-uibar-tdr{
	background-position: right -233px;
}

.xui-uibar-top-s .xui-uibar-tdl{
	background-position: left -261px;
}
.xui-uibar-top-s .xui-uibar-tdm{
	background-position: left -283px;
	background-repeat: repeat-x;
}
.xui-uibar-top-s .xui-uibar-tdr{
	background-position: right -305px;
}

.xui-uibar-bottom-s .xui-uibar-tdl{
	background-position: left -327px;
}
.xui-uibar-bottom-s .xui-uibar-tdm{
	background-position: left -349px;
	background-repeat: repeat-x;
}
.xui-uibar-bottom-s .xui-uibar-tdr{
	background-position: right -371px;
}

/** widgets **/

/*xui.UI.Input [[[colors]]]*/
/*xui.UI.ComboInput*/
.xui-input-box, .xui-comboinput-box{
    background-image: url(Input/inputbg.gif);
    border: solid 1px #C6C9CF;
    background-repeat:repeat-x;
}
.xui-input-box-focus, .xui-input-box-mouseover, .xui-comboinput-box-focus, .xui-comboinput-box-mouseover{
    border-color:#5C93BC;
}

/*xui.UI.Tabs*/
.xui-tabs-items{
    padding:0 0 3px 0;
}
.xui-tabs-listbg{
    height:4px;
    border:0;
    background-color:transparent;
    background-image: url(Tabs/line.gif);
    background-repeat:repeat-x;
    background-position:center bottom;
}
.xui-tabs-item, .xui-tabs-itemi, .xui-tabs-itemc{
    margin : 0;
    border : none;
    border-radius: 0px;
	-moz-border-radius: 0;
	-webkit-border-radius: 0,
	-o-border-radius: 0;
	-ms-border-radius: 0;
	-khtml-border-radius: 0;
    background-color:transparent; 
    background-image: url(ToolBar/button.png);
    background-repeat:no-repeat;
    background-position:right -540px;
}
.xui-tabs-itemc{
    background-repeat: repeat-x;
}
.xui-tabs-item-mouseover{
    background-position : right -690px;
}
.xui-tabs-item-mousedown, .xui-tabs-item-checked{
    background-position : right -840px;
}
.xui-tabs-itemi{
    background-position:left -640px;
}
.xui-tabs-item-mouseover .xui-tabs-itemi{
    background-position : left -790px;
}
.xui-tabs-item-mousedown .xui-tabs-itemi, .xui-tabs-item-checked .xui-tabs-itemi{
    background-position : left -940px
}
.xui-tabs-itemc{
    background-position:left -590px
}
.xui-tabs-item-mouseover .xui-tabs-itemc{
    background-position : left -740px;
}
.xui-tabs-item-mousedown .xui-tabs-itemc, .xui-tabs-item-checked .xui-tabs-itemc{
    background-position : left -890px
}

.xui-tabs-left:before, .xui-tabs-right:before, .xui-tabs-drop:before{
    display: none
}
.xui-tabs-left, .xui-tabs-right, .xui-tabs-drop{
    border:none;
    border-radius: 0px;
	-moz-border-radius: 0;
	-webkit-border-radius: 0,
	-o-border-radius: 0;
	-ms-border-radius: 0;
	-khtml-border-radius: 0;
    background-image: url(Tabs/cmds.png);
    background-repeat:no-repeat;
}
.xui-tabs-left{
    background-position:left top;
}
.xui-tabs-left-mouseover{
    background-position:-16px top;
}
.xui-tabs-right{
    background-position:-32px top;
}
.xui-tabs-right-mouseover{
    background-position:-48px top;
}
.xui-tabs-drop{
    background-position:-64px top;
}
.xui-tabs-drop-mouseover{
    background-position:-80px top;
}


/*xui.UI.PopMenu*/
.xui-popmenu-boxbgbar{
    background-color:#B4DCF0;
}

/*xui.UI.ProgressBar*/
.xui-progressbar-fill{
    background: #51FF5D url(ProgressBar/bar.gif) repeat-x scroll 0 0;
}

/*xui.UI.TreeGrid [[[colors]]]*/
.xui-treegrid-header1, .xui-treegrid-header2, .xui-treegrid-fhcell, .xui-treegrid-hcell{
    background: #EBF3FD url(TreeGrid/head.gif) repeat-x left top;
}
.xui-treegrid-fhcell, .xui-treegrid-hcell{
    border-right:solid 1px #d4d4d4;
    border-bottom:solid 1px #d4d4d4;
}
.xui-treegrid-fhcell-mouseover, .xui-treegrid-hcell-mouseover{
    background: #CFE4FE url(TreeGrid/head_mouseover.gif) repeat-x left top;
}
.xui-treegrid-fcell,.xui-treegrid-cell, .xui-treegrid-cells-group{
    border-right:solid 1px #f1f1f1;
}
.xui-treegrid-cell-mouseover{
    background-color: #D9E8FB;
}
.xui-treegrid-cells-mouseover{
    background-color: #D9E8FB;
}
.xui-treegrid-cells-active, .xui-treegrid-cell-active, .xui-treegrid-cell-active .xui-treegrid-cella{
    background-color: #B0EAFA;
}
.xui-treegrid-cells-checked, .xui-treegrid-cell-checked, .xui-treegrid-cell-checked .xui-treegrid-cella{
    background-color: #7ba3cb;
    color:#fff;
}



/**
*
* advanced
*
**/

/***setting begin***/

/***the last one***/
.setting-uikey{
    font-family: vista;
}
/***setting end***/

/***setting end***/