.xuit-sbtn{
    vertical-align:middle;
}

.xuit-sbtn-btn, .xuit-sbtn-btni, .xuit-sbtn-btnc{
    height:22px;
    background-image:url(button.gif);
    vertical-align:top;
    white-space:nowrap;
}

.xuit-sbtn-btn{
    overflow:hidden;
    background-position:right top;
    padding-right:4px;
}
.xuit-sbtn-btni{
    overflow:hidden;
    background-position:left -60px;
    padding-left:4px;
}
.xuit-sbtn-btnc{
    background-position:left -30px;
    background-repeat:repeat-x;
    padding-top:3px;
}
.xuit-sbtn-focus{
    text-align:center;
    cursor:default;
    font-size:12px;
    line-height:14px;
    padding:0 4px 1px;
}

.xuit-sbtn-hover .xuit-sbtn-btn{
    background-position:right -90px;
}
.xuit-sbtn-hover .xuit-sbtn-btni{
    background-position:left -150px;
}
.xuit-sbtn-hover .xuit-sbtn-btnc{
    background-position:left -120px;
}
.xuit-sbtn-active .xuit-sbtn-btn{
    background-position:right -180px
}
.xuit-sbtn-active .xuit-sbtn-btni{
    background-position:left -240px;
}
.xuit-sbtn-active .xuit-sbtn-btnc{
    background-position:left -210px;
}