/*base size*/
.xui-node{
		font-size: 12px;
}
.xui-title-node{
		font-size:1.1667em;
}
.xuifont, .xuicon{
  font-size:1.33333em;
}

/*background*/
.xui-uibase{
    background-color:#FFFFFF;
}
.xui-uibar{
    background-color:#FF5F4A;
}
.xui-uibar-hover{
    background-color:#FFB9A5;
}
.xui-uibar-active, .xui-uibar-checked, 
.xui-uimenu-hover, .xui-uimenu-active{
    background-color:#FF0000;
}


/*border*/
.xui-uiborder-l{
    border-left-color:#FFB29E;
}
.xui-uiborder-t{
    border-top-color:#FFB29E;
}
.xui-uiborder-r{
    border-right-color:#FF0005;
}
.xui-uiborder-b{
    border-bottom-color:#FF0005;
}
.xui-uiborder-flat{
    border-color:#FF0005;
}
.xui-uiborder-outset{
    border-color:#FFB29E #FF0005 #FF0005 #FFB29E;
}
.xui-uiborder-inset, .xui-uiborder-hidden-active, .xui-uiborder-hidden-checked{
    border-color:#FF0005 #FFB29E #FFB29E #FF0005;
}
.xui-uiborder-hidden-active, .xui-uiborder-hidden-checked{
    background: #FFB29E;
}
.xui-uiborder-dark, .xui-uiborder-flat-hover, .xui-tabs-item{
    border-color:#FF0005;
}
.xui-uiborder-light, .xui-uiborder-hidden-hover{
    border-color:#FFB29E;
}

/*item*/
.xui-uitembg-hover, .xui-uitembg-active, .xui-uitembg-checked{
    background-image: url(Public/list_item.gif);
    background-repeat:repeat-x;
	  border-color:#648CB4;
}
.xui-uitembg-hover{
	background-position: left -100px;
	background-color: #FAD200;
}
.xui-uitembg-active{
	background-position: left -200px;
	background-color:#F5D22D;
}
.xui-uitembg-checked{
	background-position:left top;
	background-color:#FF6B44;
}

/*gradient*/
.xui-ui-gradientbg, .xui-ui-btn{
    border-color:#FFA28A;
    -moz-box-shadow:inset 0 1px 0 0 #FFBCAB;
    -webkit-box-shadow:inset 0 1px 0 0 #FFBCAB;
    box-shadow:inset 0 1px 0 0 #FFBCAB;    
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFBCAB', endColorstr='#FF7751');
    background: linear-gradient(top,  #FFBCAB 5%,  #FF7751 100%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(0.05, #FFBCAB), to(1, #FF7751));
    background: -webkit-linear-gradient(top, #FFBCAB 5%, #FF7751 100%);
    background: -moz-linear-gradient(top,  #FFBCAB 5%,  #FF7751 100%);
    background: -o-linear-gradient(top,  #FFBCAB 5%,  #FF7751 100%);  
}
.xui-ui-gradientbg-hover, .xui-ui-btn:hover, .xui-ui-btn-hover{
    border-color: #FCEA29;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC7BC', endColorstr='#FFA28A');
    background: linear-gradient(top,  #FFC7BC 5%,  #FFA28A 100%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(0.05, #FFC7BC), to(1, #FFA28A));
    background: -webkit-linear-gradient(top, #FFC7BC 5%, #FFA28A 100%);
    background: -moz-linear-gradient(top,  #FFC7BC 5%,  #FFA28A 100%);
    background: -o-linear-gradient(top,  #FFC7BC 5%,  #FFA28A 100%);  
}
.xui-ui-gradientbg-expand, .xui-ui-gradientbg-active, .xui-ui-gradientbg-checked,
.xui-ui-btn-active, .xui-ui-btn-checked,  
.xui-ui-btn:active, .xui-ui-btn-active:hover,  .xui-ui-btn-checked:hover{
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF7751', endColorstr='#FFBCAB');
    background: linear-gradient(top,  #FF7751 5%,  #FFBCAB 100%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(0.05, #FF7751), to(1, #FFBCAB));
    background: -webkit-linear-gradient(top, #FF7751 5%, #FFBCAB 100%);
    background: -moz-linear-gradient(top,  #FF7751 5%,  #FFBCAB 100%);
    background: -o-linear-gradient(top,  #FF7751 5%,  #FFBCAB 100%);  
}

/*uicontainer*/
.xui-uiborder-box{
		border-width:0;
}
.xui-uibar-top .xui-uibar-tdlt, .xui-uibar-top .xui-uibar-tdmt, .xui-uibar-top .xui-uibar-tdrt, 
.xui-uibar-top-s .xui-uibar-tdl, .xui-uibar-top-s .xui-uibar-tdm, .xui-uibar-top-s .xui-uibar-tdr, 
.xui-uibar-bottom .xui-uibar-tdl, .xui-uibar-bottom .xui-uibar-tdm, .xui-uibar-bottom .xui-uibar-tdr,
.xui-uibar-bottom-s .xui-uibar-tdl, .xui-uibar-bottom-s .xui-uibar-tdm, .xui-uibar-bottom-s .xui-uibar-tdr{
    background-image: url(Public/con_vertical.gif);
    background-repeat: no-repeat;
    background-position: left top;
}

.xui-uicon-main,
.xui-uibar-top .xui-uibar-tdl,
.xui-uibar-top .xui-uibar-tdr{
    background-image: url(Public/con_left.gif);
    background-repeat: repeat-y;
    background-position: left top;
}
.xui-uibar-top .xui-uibar-tdm{
}
.xui-uicon-maini,
.xui-uibar-top .xui-uibar-tdr{
    background-image: url(Public/con_right.gif);
    background-repeat: repeat-y;
    background-position: right top;
}
.xui-uibar-top .xui-uibar-tdlt{
	height:30px;
	background-position: 0 0;
}
.xui-uibar-top .xui-uibar-tdmt{
	height:30px;
	background-position: 0 -30px;
	background-repeat: repeat-x;
}
.xui-uibar-top .xui-uibar-tdrt{
	height:30px;
	background-position: right -60px;
}
.xui-uibar-focus, 
.xui-uibar-top-focus .xui-uibar-tdl,
.xui-uibar-top-focus .xui-uibar-tdm,
.xui-uibar-top-focus .xui-uibar-tdr{
	background-color: #FF6F11;
}

.xui-uibar-top-focus .xui-uibar-tdlt{
	background-position: left -90px;
}
.xui-uibar-top-focus .xui-uibar-tdmt{
	background-position: left -120px;
	background-repeat: repeat-x;
}
.xui-uibar-top-focus .xui-uibar-tdrt{
	background-position: right -150px;
}


.xui-uibar-bottom .xui-uibar-tdl{
	background-position: left -189px;
}
.xui-uibar-bottom .xui-uibar-tdm{
	background-position: left -211px;
	background-repeat: repeat-x;
}
.xui-uibar-bottom .xui-uibar-tdr{
	background-position: right -233px;
}


.xui-uibar-top-s, .xui-uibar-bottom-s{
    padding:5px 0 0 0;
}
.xui-uibar-top-s .xui-uibar-tdl{
	background-position: left -261px;
}
.xui-uibar-top-s .xui-uibar-tdm{
	background-position: left -283px;
	background-repeat: repeat-x;
}
.xui-uibar-top-s .xui-uibar-tdr{
	background-position: right -305px;
}
.xui-uibar-bottom-s .xui-uibar-tdl{
	background-position: left -327px;
}
.xui-uibar-bottom-s .xui-uibar-tdm{
	background-position: left -349px;
	background-repeat: repeat-x;
}
.xui-uibar-bottom-s .xui-uibar-tdr{
	background-position: right -371px;
}


/*xui.UI.Tabs*/
/*.xui-tabs-items{padding:0 0 4px 0;}*/
.xui-tabs-item{
    background-color:transparent; 
}
.xui-tabs-item-hover{
		background-color: #FFB9A5;
}
.xui-tabs-item-active{
	  background-color: #FF0000;
}
.xui-tabs-item-checked{
	  background-color: #FF0000;
}

/*xui.UI.TreeGrid*/
.xui-uicell,
.xui-treegrid-cells1, .xui-treegrid-cells2{
	background-color: #F9F7D1;
}
.xui-uicell-alt,
.xui-treegrid-cells1-alt, .xui-treegrid-cells2-alt{
		background-color: #F9F7D1;
}
.xui-hcell,
.xui-treegrid-fhcell, .xui-treegrid-hcell, .xui-treegrid-hscell,
.xui-treegrid-header1, .xui-treegrid-header2{
    background: #FFB8A6 url(Public/list_item.gif) repeat-x left -300px;
}
.xui-hcell,
.xui-treegrid-fhcell, .xui-treegrid-hcell, .xui-treegrid-hscell{
    border-color: #EEE #FFB9A5 #FFB9A5 #EEE;
}
.xui-treegrid-fhcell-hover, .xui-treegrid-hcell-hover, .xui-treegrid-hscell-hover{
    background: #FCE01E url(Public/list_item.gif) repeat-x left -400px;
}

.xui-treegrid-cells1-hover, .xui-treegrid-cells2-hover{
    border-right:solid 1px #FFB5A2;
    background-color: #FFB5A2;
}
.xui-treegrid-cells1-active, .xui-treegrid-cells2-active, 
.xui-treegrid-cell-active, .xui-treegrid-cell-active .xui-treegrid-cella{
    background-color: #FF5F4A;
}
.xui-treegrid-cells1-hot, .xui-treegrid-cells2-hot{
    background-color: #FFE97F;
}
.xui-uicell-checked, .xui-uicell-checked .xui-node,
.xui-treegrid-cell-checked, .xui-treegrid-cell-checked .xui-node[class*="xui-treegrid-"],
.xui-treegrid-cells1-checked, .xui-treegrid-cells1-checked .xui-node[class*="xui-treegrid-"], 
.xui-treegrid-cells2-checked, .xui-treegrid-cells2-checked .xui-node[class*="xui-treegrid-"]{
    background-color: #FF0005;
    color:#fff;
}
.xui-uicell-hover,
.xui-treegrid-cell-hover, .xui-treegrid-cell-hover .xui-node[class*="xui-treegrid-"]{
    background-color: #FFF1A0 !important;
}

/*disable and readonly*/
.xui-node-readonly, 
input[readonly], textarea[readonly], input:read-only, textarea:read-only,
.xui-ui-readonly, .xui-ui-readonly .xui-node,
.xui-ui-itemreadonly, .xui-ui-itemreadonly .xui-node{
    color: #66666 !important;
}
.xui-node-disabled, 
button:disabled, a:disabled, input:disabled, textarea:disabled, 
.xui-ui-disabled, .xui-ui-disabled .xui-node,
.xui-ui-itemdisabled,  .xui-ui-itemdisabled .xui-node,
.xui-uicell-disabled, .xui-uicell-disabled .xui-node{
  color: #808080 !important;
}

/*
.xui-ui-invalid, .xui-ui-invalid .xui-node{}
.xui-ui-input{}
.xui-ui-shadow{}
.xui-special-icon{}
.xui-required{}
.xui-alert{}
*/

/** important => the last one: this theme's name */
.setting-uikey{
    font-family: red;
}