/*base size*/
.xui-node{
    font-size: 12px;
}
.xuifont, .xuicon{
  font-size:1.33333em;
  color:#333;
}

/*background*/
html{
  background-color:#FFFFFF;
  color:#333;
}
.xui-uibg-base{
    background-color:#FFFFFF;
}
.xui-uibg-bar{
    background-color:#B8D6E6;
}
.xui-uibg-bar-mouseover{
    background-color:#E5EFF5;
}
.xui-uibg-content{
    background-color:#FFFFFF;
}

/*disable and readonly*/
input[readonly], textarea[readonly], 
.xui-ui-readonly, .xui-ui-inputreadonly, .xui-ui-itemreadonly, 
.xui-ui-readonly *, .xui-ui-itemreadonly *{
    color: #808080;
}
.xui-ui-itemreadonly input, .xui-ui-itemreadonly textarea, 
.xui-ui-readonly textarea, .xui-ui-readonly textarea{
    color: #09090;
}
button:disabled, a:disabled, .xui-ui-disabled, .xui-ui-itemdisabled,  
.xui-ui-disabled *, .xui-ui-itemdisabled *{
  color: #808080;
}
input:disabled, .xui-ui-inputdisabled, 
.xui-uicell-disabled, .xui-uicell-disabled *,
.xui-ui-disabled input, .xui-ui-itemdisabled input, 
.xui-ui-disabled textarea, .xui-ui-itemdisabled textarea{
   color: #909090;
   background-color:#eee;
}

/*
.xui-ui-invalid, .xui-ui-invalid *{}
.xui-ui-input{}
.xui-ui-shadow{}
.xui-special-icon{}
.xui-busy, .xui-ui-busy, .xui-uicmd-toggle-busy{}
.xui-required{}
.xui-alert{}
*/
.xui-cell{
  background-color: #F9F9FB;
}
.xui-cell-alt{
    background-color: #DEECF4;
}
.xui-hcell{
  background-color: #B8D6E6;
}
.xui-cell-mouseover{
  background-color:#DEECF4;
}
.xui-cell-checked, .xui-cell-checked .xui-node{
    background-color:#3393d2;
    color:#fff;
}

/*border*/
.xui-uiborder{
    border:solid 1px #88A6B6;
}
.xui-uiborder-l{
    border-left-color:#E5EFF5;
}
.xui-uiborder-t{
    border-top-color:#E5EFF5;
}
.xui-uiborder-r{
    border-right-color:#88A6B6;
}
.xui-uiborder-b{
    border-bottom-color:#88A6B6;
}
.xui-uiborder-lr{
    border-left-color:#E5EFF5;
    border-right-color:#88A6B6;
}
.xui-uiborder-tb{
    border-top-color:#E5EFF5;
    border-bottom-color:#88A6B6;
}
.xui-uiborder-lt{
    border-left-color:#E5EFF5;
    border-top-color:#E5EFF5;
}
.xui-uiborder-rb{
    border-right-color:#88A6B6;
    border-bottom-color:#88A6B6;
}
.xui-uiborder-flat{
    border-color:#88A6B6;
}
.xui-uiborder-flat-focus, .xui-uiborder-flat-mouseover{
    border-color:#9CBACA;
}
.xui-uiborder-outset{
    border-color:#E5EFF5 #88A6B6 #88A6B6 #E5EFF5;
}
.xui-uiborder-inset, .xui-uiborder-btn-mousedown, .xui-uiborder-btn-checked{
    border-color:#88A6B6 #E5EFF5 #E5EFF5 #88A6B6;
}
.xui-uiborder-btn-mouseover{
    border-color: #E5EFF5;
}
.xui-uiborder-btn-mousedown, .xui-uiborder-btn-checked{
    background: #E5EFF5;
}

.xui-uiborder-r-dark{
    border-right-color:#9CBCCF;
}
.xui-uiborder-b-dark{
    border-bottom-color:#9CBCCF;
}
.xui-uiborder-rb-dark{
    border-right-color:#9CBCCF;
    border-bottom-color:#9CBCCF;
}
.xui-uiborder-r-light{
    border-right-color:#B8D6E6;
}
.xui-uiborder-b-light{
    border-bottom-color:#B8D6E6;
}
.xui-uiborder-rb-light{
    border-right-color:#B8D6E6;
    border-bottom-color:#B8D6E6;
}

/*item*/
.xui-uitembg-mouseover, .xui-uitembg-mousedown, .xui-uitembg-checked{
    background-image: url(Public/list_item.gif);
    background-repeat:repeat-x;
    border-color:#85AEC2;
}
.xui-uitembg-mouseover{
  background-position: left -200px;
  background-color:#85AEC2;
}
.xui-uitembg-mousedown{
  background-position: left -300px;
  background-color:#97B9C8;
}
.xui-uitembg-checked{
  background-position:left -100px;
   background-color:#B8D6E6;
}

.xui-uitembg-bar{
    background-color:#88A6B6;
}
.xui-uitembg-bar-mouseover, .xui-uitembg-menu-mouseover{
    background-color:#85AEC2;
}
.xui-uitembg-bar-mousedown, .xui-uitembg-bar-checked, 
.xui-uitembg-menu-mousedown, .xui-uitembg-menu-checked{
    background-color:#9CBCCF;
}

/*gradient*/
.xui-ui-gradientbg, .xui-ui-btn{
    border-color:#88A6B6;
    -moz-box-shadow:inset 0 1px 0 0 #E5EFF5;
    -webkit-box-shadow:inset 0 1px 0 0 #E5EFF5;
    box-shadow:inset 0 1px 0 0 #E5EFF5;    
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E5EFF5', endColorstr='#88A6B6');
    background: linear-gradient(top,  #E5EFF5 5%,  #88A6B6 100%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(0.05, #E5EFF5), to(1, #88A6B6));
    background: -webkit-linear-gradient(top, #E5EFF5 5%, #88A6B6 100%);
    background: -moz-linear-gradient(top,  #E5EFF5 5%,  #88A6B6 100%);
    background: -o-linear-gradient(top,  #E5EFF5 5%,  #88A6B6 100%);  
}
.xui-ui-gradientbg-mouseover, .xui-ui-btn:hover, .xui-ui-btn-mouseover{
    border-color: #9CBACA;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E5EFF5', endColorstr='#9CBACA');
    background: linear-gradient(top,  #E5EFF5 5%,  #9CBACA 100%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(0.05, #E5EFF5), to(1, #9CBACA));
    background: -webkit-linear-gradient(top, #E5EFF5 5%, #9CBACA 100%);
    background: -moz-linear-gradient(top,  #E5EFF5 5%,  #9CBACA 100%);
    background: -o-linear-gradient(top,  #E5EFF5 5%,  #9CBACA 100%);  
}
.xui-ui-gradientbg-expand, .xui-ui-gradientbg-mousedown, .xui-ui-gradientbg-checked,
.xui-ui-btn-mousedown, .xui-ui-btn-checked,  
.xui-ui-btn:active, .xui-ui-btn-mousedown:hover,  .xui-ui-btn-checked:hover{
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#88A6B6', endColorstr='#E5EFF5');
    background: linear-gradient(top,  #88A6B6 5%,  #E5EFF5 100%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(0.05, #88A6B6), to(1, #E5EFF5));
    background: -webkit-linear-gradient(top, #88A6B6 5%, #E5EFF5 100%);
    background: -moz-linear-gradient(top,  #88A6B6 5%,  #E5EFF5 100%);
    background: -o-linear-gradient(top,  #88A6B6 5%,  #E5EFF5 100%);  
}

/*uicontainer*/
.xui-uibar-top .xui-uibar-tdlt, .xui-uibar-top .xui-uibar-tdmt, .xui-uibar-top .xui-uibar-tdrt, 
.xui-uibar-top-s .xui-uibar-tdl, .xui-uibar-top-s .xui-uibar-tdm, .xui-uibar-top-s .xui-uibar-tdr, 
.xui-uibar-bottom .xui-uibar-tdl, .xui-uibar-bottom .xui-uibar-tdm, .xui-uibar-bottom .xui-uibar-tdr,
.xui-uibar-bottom-s .xui-uibar-tdl, .xui-uibar-bottom-s .xui-uibar-tdm, .xui-uibar-bottom-s .xui-uibar-tdr{
    border: none;
    background-image: url(Public/con_vertical.gif);
    background-repeat: no-repeat;
    background-position: left top;
}

.xui-uicon-main,
.xui-uibar-top .xui-uibar-tdl,
.xui-uibar-top .xui-uibar-tdr{
    border: none;
    background-image: url(Public/con_left.gif);
    background-repeat: repeat-y;
    background-position: left top;
}
.xui-uibar-top .xui-uibar-tdm{
    border: none;
}
.xui-uicon-maini,
.xui-uibar-top .xui-uibar-tdr{
    border: none;
    background-image: url(Public/con_right.gif);
    background-repeat: repeat-y;
    background-position: right top;
}
.xui-uibar-top .xui-uibar-tdb{
  display:block;
}
.xui-uibar-top .xui-uibar-tdlt{
  height:30px;
  background-position: 0 0;
}
.xui-uibar-top .xui-uibar-tdmt{
  height:30px;
  background-position: 0 -30px;
  background-repeat: repeat-x;
}
.xui-uibar-top .xui-uibar-tdrt{
  height:30px;
  background-position: right -60px;
}
.xui-uibar-top-focus .xui-uibar-tdl,
.xui-uibar-top-focus .xui-uibar-tdm,
.xui-uibar-top-focus .xui-uibar-tdr{
  background-color: #B8D6E6;
}

.xui-uibar-top-focus .xui-uibar-tdlt{
  background-position: left -90px;
}
.xui-uibar-top-focus .xui-uibar-tdmt{
  background-position: left -120px;
  background-repeat: repeat-x;
}
.xui-uibar-top-focus .xui-uibar-tdrt{
  background-position: right -150px;
}


.xui-uibar-bottom{
    padding:3px 0;
}
.xui-uibar-bottom .xui-uibar-tdl{
  background-position: left -189px;
}
.xui-uibar-bottom .xui-uibar-tdm{
  background-position: left -211px;
  background-repeat: repeat-x;
}
.xui-uibar-bottom .xui-uibar-tdr{
  background-position: right -233px;
}


.xui-uibar-top-s, .xui-uibar-bottom-s{
    padding:3px 0;
}
.xui-uibar-top-s .xui-uibar-tdl{
  background-position: left -261px;
}
.xui-uibar-top-s .xui-uibar-tdm{
  background-position: left -283px;
  background-repeat: repeat-x;
}
.xui-uibar-top-s .xui-uibar-tdr{
  background-position: right -305px;
}
.xui-uibar-bottom-s .xui-uibar-tdl{
  background-position: left -327px;
}
.xui-uibar-bottom-s .xui-uibar-tdm{
  background-position: left -349px;
  background-repeat: repeat-x;
}
.xui-uibar-bottom-s .xui-uibar-tdr{
  background-position: right -370px;
}


/*xui.UI.Tabs*/
.xui-tabs-items{
    padding:0 0 4px 0;
}
.xui-tabs-listbg{
		border-top: solid 1px #9CBCCF;
    border-bottom: solid 1px #9CBCCF;
    background-color:#85AEC2;
}
.xui-tabs-item{
    background-image: url(Public/list_item.gif);
    background-repeat:repeat-x;

    background-position: left top;
    background-color: #CCEAFA;

    border-color: #88A6B6;
}
.xui-tabs-item-mouseover{
   background-position:left -100px;
   background-color:#B8D6E6;
}
.xui-tabs-item-mousedown{
  background-position: left -300px;
  background-color:#97B9C8;
}
.xui-tabs-item-checked{
  background-position: left -200px;
  background-color:#85AEC2;
}
.xui-tabs-left, .xui-tabs-right, .xui-tabs-drop{
  font-size:1.5em;
}
/*to adjust item size*/
.xui-tabs-handle{
	padding:0;
}
.xui-tabs-item-checked .xui-tabs-handle{
	padding-bottom:1px;
}
.xui-tabs-item-checked .xui-node{
	color:#ffffff;
}

/*xui.UI.TreeGrid*/
.xui-treegrid-alt{
    background-color: #EEEEEE;
}
.xui-treegrid-rownum{
    color:#808080;
}
.xui-treegrid-tbody21 .columnfreezed{
    -moz-box-shadow: 1px 0  1px #CCC;
    -webkit-box-shadow: 1px 0  1px #CCC;
    box-shadow: 1px 0  1px #CCC;
}
.xui-treegrid-tbody12 .rowfreezed{
    -moz-box-shadow: 0 1px 1px #CCC;
    -webkit-box-shadow: 0 1px 1px #CCC;
    box-shadow: 0 1px 1px #CCC;
}
.xui-treegrid-header1, .xui-treegrid-header2, 
.xui-treegrid-fhcell, .xui-treegrid-hcell{
    background: #D3E7F2 url(TreeGrid/head.gif) repeat-x left top;
}
.xui-treegrid-fhcell, .xui-treegrid-hcell{
    border-color: #fff5fd  #B8D6E6 #B8D6E6 #fff5fd;
}
.xui-treegrid-fhcell-mouseover, .xui-treegrid-hcell-mouseover{
    background: #CBDCE8 url(TreeGrid/head_mouseover.gif) repeat-x left top;
}
.xui-treegrid-fcell, .xui-treegrid-cell, 
.xui-treegrid-cells1-group, .xui-treegrid-cells2-group{
    border-right:solid 1px #B8D6E6;
}
.xui-treegrid-cells1-mouseover, .xui-treegrid-cells2-mouseover{
    background-color: #DFE8F6;
}
.xui-treegrid-cells1-active, .xui-treegrid-cells2-active, 
.xui-treegrid-cell-active, .xui-treegrid-cell-active .xui-treegrid-cella{
    background-color: #B8D6E6;
}
.xui-treegrid-cells1-hot, .xui-treegrid-cells2-hot{
    background-color: #FFE97F;
}
.xui-treegrid-cells1-checked, .xui-treegrid-cells2-checked, 
.xui-treegrid-cell-checked, .xui-treegrid-cell-checked .xui-treegrid-cella{
    background-color: #7290A0;
    color:#fff;
}
.xui-treegrid-cell-mouseover{
    background-color: #B8D6E6;
}


/** important => the last one: this theme's name */
.setting-uikey{
    font-family: lightblue;
}