/*font*/
.xui-ui-ctrl, .xui-ui-reset{
    color:#fff; 
    font-size: 12px;
    font-family:arial, helvetica, clean, sans-serif; 
    font-weight:normal; 
}
.xui-title-node{
		font-size:1.1667em;
}
.xuifont, .xuicon{
  font-size:1.3333333333333333em;
}
.xuifont-hover, .xuicon-hover{
	color: #fff;
}
.xuifont-active, .xuicon-active{
	color: #eee; 
}
.xuifont-checked, .xuicon-checked{
	color: #eee; 
}
.xui-ui-ctrl-highlight, .xui-node-highlight, .xui-uibar-checked, .xui-uibar-expand,  .xui-uimenu-hover,.xui-uimenu-active{
		color:#fff;
}


/*background*/
.xui-uibase{
    background-color:#48525f;
}
.xui-uicontainer{
    background-color:#48525f;
}
.xui-uibar{
    background-color:#394350;
}
.xui-uibar-hover{
    background-color:#666666;
}
.xui-uibar-active,.xui-uibar-checked, .xui-uibar-expand,  .xui-uimenu-hover,.xui-uimenu-active{
    background-color:#282D34;
}
.xui-uibar-top .xui-uibar-tdb{
  display:block;
}
/*border*/
.xui-uiborder-l{
    border-left-color:#727E91;
}
.xui-uiborder-t{
    border-top-color:#727E91;
}
.xui-uiborder-r{
    border-right-color:#23272D;
}
.xui-uiborder-b{
    border-bottom-color:#23272D;
}
.xui-uiborder-flat{
    border-color:#23272D;
}
.xui-uiborder-outset{
    border-color:#727E91 #23272D #23272D #727E91;
}
.xui-uiborder-inset, .xui-uiborder-hidden-active, .xui-uiborder-hidden-checked{
    border-color:#23272D #727E91 #727E91 #23272D;
}
.xui-uiborder-hidden-active, .xui-uiborder-hidden-checked{
    background: #23272D;
}
.xui-uiborder-dark, .xui-uiborder-flat-hover, .xui-tabs-item{
    border-color: #727E91;
}
.xui-uiborder-light, .xui-uiborder-hidden-hover{
    border-color:#23272D;
}

/*item*/
.xui-uitembg{
 	  background-color:#48525f;
}
.xui-uitembg-hover{
	background-color: #394350;
}
.xui-uitembg-active{
    background-color:#282D34;
}
.xui-uitembg-checked{
    background-color:#282D34;
}

/*gradient*/
.xui-uigradient{
    color:#fff; 
    background:none;
    border-color:#23272D;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
	  text-shadow: none;
    filter: none;
    background-image: linear-gradient(top,  #727E91 5%,  #23272D 100%);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(0.05, #727E91), to(1, #23272D));
    background-image: -webkit-linear-gradient(top, #727E91 5%, #23272D 100%);
    background-image: -moz-linear-gradient(top,  #727E91 5%,  #23272D 100%);
    background-image: -o-linear-gradient(top,  #727E91 5%,  #23272D 100%);  
}
.xui-uigradient-hover, .xui-uigradient:hover{
    border-color:#32363C;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#727E91', endColorstr='#32363C');
    background-image: linear-gradient(top,  #727E91 5%,  #32363C 100%);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(0.05, #727E91), to(1, #32363C));
    background-image: -webkit-linear-gradient(top, #727E91 5%, #32363C 100%);
    background-image: -moz-linear-gradient(top,  #727E91 5%,  #32363C 100%);
    background-image: -o-linear-gradient(top,  #727E91 5%,  #32363C 100%);  
}
.xui-uigradient-active, .xui-uigradient-checked,  .xui-uigradient-expand, 
.xui-uigradient:active, 
.xui-uigradient-active:hover, .xui-uigradient-checked:hover, .xui-uigradient-expand:hover{
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#23272D', endColorstr='#727E91');
    background-image: linear-gradient(top,  #23272D 5%,  #727E91 100%);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(0.05, #23272D), to(1, #727E91));
    background-image: -webkit-linear-gradient(top, #23272D 5%, #727E91 100%);
    background-image: -moz-linear-gradient(top,  #23272D 5%,  #727E91 100%);
    background-image: -o-linear-gradient(top,  #23272D 5%,  #727E91 100%);  
}

/*uicontainer*/
.xui-uibar-focus, 
.xui-uibar-top-focus .xui-uibar-tdl,
.xui-uibar-top-focus .xui-uibar-tdm,
.xui-uibar-top-focus .xui-uibar-tdr{
  background-color: #455164;
}
/*xui.UI.TreeGrid*/
.xui-uicell,
.xui-treegrid-cells1, .xui-treegrid-cells2{
		background-color: #292D34;
}
.xui-uicell-alt,
.xui-treegrid-cells1-alt, .xui-treegrid-cells2-alt{
		background-color: #808080;
}
.xui-treegrid-fcell, .xui-treegrid-cell, 
.xui-treegrid-cells1-group, .xui-treegrid-cells2-group{
    border-right:0;
    padding-right:1px;
}

.xui-treegrid-cells1-hover, .xui-treegrid-cells2-hover{
    background-color: #5D6878;
}
.xui-treegrid-cells1-active, .xui-treegrid-cells2-active, 
.xui-treegrid-cell-active, .xui-treegrid-cell-active .xui-treegrid-cella{
    background-color: #596474;
}
.xui-treegrid-cells1-hot, .xui-treegrid-cells2-hot{
    background-color: #5DA778;
}
.xui-uicell-checked,
.xui-treegrid-cell-checked,
.xui-treegrid-cells1-checked,
.xui-treegrid-cells2-checked{
    background-color: #cdcdcd;
    color:#000;
}
.xui-uicell-hover,
.xui-treegrid-cell-hover{
    background-color: #38404C !important;
}


/*
.xui-special-icon{}
.xui-required{}
.xui-alert{}
*/
.xui-ui-input {
    border-color:#23272D #7C889B #7C889B #23272D;
    background: #292D34;
}
.xui-ui-shadow-input{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.xui-ui-shadow {
    -moz-box-shadow: 2px 2px 5px #282d34;
    -webkit-box-shadow: 2px 2px 5px #282d34;
    box-shadow: 2px 2px 5px #282d34;
}

.xui-ui-shadow-r {
    -moz-box-shadow: 1px 0 1px #282d34;
    -webkit-box-shadow: 1px 0 1px #282d34;
    box-shadow: 1px 0 1px #282d34;
    z-index: 10;
}
.xui-ui-shadow-b {
    -moz-box-shadow: 0 1px 1px #282d34;
    -webkit-box-shadow: 0 1px 1px #282d34;
    box-shadow: 0 1px 1px #282d34;
    z-index: 10;
}
/** important => the last one: this theme's name */
.setting-uikey{
    font-family: moonify;
}