/*base size*/
.xui-node{
		font-size: 12px;
		color:#fff;
}
.xuifont, .xuicon{
  font-size:1.33333em;
}

/*background*/
html, .xui-uibg-base{
    background-color:#48525f;
}
.xui-uibg-bar{
    background-color:#394350;
}
.xui-uibg-bar-mouseover{
    background-color:#8d8d8d;
}
.xui-uibg-content{
    background-color:#48525f;
}

/*border*/
.xui-uiborder{
    border:solid 1px #23272D;
}
.xui-uiborder-l{
    border-left-color:#727E91;
}
.xui-uiborder-t{
    border-top-color:#727E91;
}
.xui-uiborder-r{
    border-right-color:#23272D;
}
.xui-uiborder-b{
    border-bottom-color:#23272D;
}
.xui-uiborder-lr{
    border-left-color:#727E91;
    border-right-color:#23272D;
}
.xui-uiborder-tb{
    border-top-color:#727E91;
    border-bottom-color:#23272D;
}
.xui-uiborder-lt{
    border-left-color:#727E91;
    border-top-color:#727E91;
}
.xui-uiborder-rt{
    border-top-color:#727E91;
    border-right-color:#23272D;
}
.xui-uiborder-lb{
    border-left-color:#727E91;
    border-bottom-color:#23272D;
}
.xui-uiborder-rb{
    border-right-color:#23272D;
    border-bottom-color:#23272D;
}
.xui-uiborder-flat{
    border-color:#23272D;
}
.xui-uiborder-flat-focus, .xui-uiborder-flat-mouseover{
    border-color:#23272D;
}
.xui-uiborder-outset{
    border-color:#727E91 #23272D #23272D #727E91;
}
.xui-uiborder-inset, .xui-uitoolbtn-mousedown, .xui-uitoolbtn-checked{
    border-color:#23272D #727E91 #727E91 #23272D;
}
.xui-uitoolbtn-mouseover{
    border-color: #727E91;
}
.xui-uitoolbtn-mousedown, .xui-uitoolbtn-checked{
    background: #48525f;
}

.xui-uiborder-r-dark{
    border-right-color: #727E91;
}
.xui-uiborder-b-dark{
    border-bottom-color: #727E91;
}
.xui-uiborder-rb-dark{
    border-right-color: #727E91;
    border-bottom-color: #727E91;
}
.xui-uiborder-tb-dark{
    border-top-color:#727E91;
    border-bottom-color:#727E91;
}
.xui-uiborder-r-light{
    border-right-color:#394350;
}
.xui-uiborder-b-light{
    border-bottom-color:#394350;
}
.xui-uiborder-rb-light{
    border-right-color:#394350;
    border-bottom-color:#394350;
}

/*item*/
.xui-uitembg{
 	  background-color:#48525f;
}
.xui-uitembg-mouseover{
	background-color: #394350;
	border-color:#394350;
}
.xui-uitembg-mousedown{
	  border-color:#282D34;
    background-color:#282D34;
}
.xui-uitembg-checked{
	  border-color:#282D34;
    background-color:#282D34;
}

.xui-uitembg-bar{
     background-color:#48525f;
}
.xui-uitembg-bar-mouseover{
    background-color:#626F82;
}
.xui-uitembg-bar-mousedown, .xui-uitembg-bar-checked, 
.xui-uitembg-menu-mouseover, .xui-uitembg-menu-mousedown{
     background-color:#282D34;
}

/*gradient*/
.xui-ui-gradientbg, .xui-ui-btn{
    border-color:#23272D;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    filter: none;
	 text-shadow: none;
    background: linear-gradient(top,  #727E91 5%,  #23272D 100%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(0.05, #727E91), to(1, #23272D));
    background: -webkit-linear-gradient(top, #727E91 5%, #23272D 100%);
    background: -moz-linear-gradient(top,  #727E91 5%,  #23272D 100%);
    background: -o-linear-gradient(top,  #727E91 5%,  #23272D 100%);  
}
.xui-ui-gradientbg-mouseover, .xui-ui-btn:hover, .xui-ui-btn-mouseover{
    border-color:#32363C;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#727E91', endColorstr='#32363C');
    background: linear-gradient(top,  #727E91 5%,  #32363C 100%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(0.05, #727E91), to(1, #32363C));
    background: -webkit-linear-gradient(top, #727E91 5%, #32363C 100%);
    background: -moz-linear-gradient(top,  #727E91 5%,  #32363C 100%);
    background: -o-linear-gradient(top,  #727E91 5%,  #32363C 100%);  
}
.xui-ui-gradientbg-expand, .xui-ui-gradientbg-mousedown, .xui-ui-gradientbg-checked,
.xui-ui-btn-mousedown, .xui-ui-btn-checked,  
.xui-ui-btn:active, .xui-ui-btn-mousedown:hover,  .xui-ui-btn-checked:hover{
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#23272D', endColorstr='#727E91');
    background: linear-gradient(top,  #23272D 5%,  #727E91 100%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(0.05, #23272D), to(1, #727E91));
    background: -webkit-linear-gradient(top, #23272D 5%, #727E91 100%);
    background: -moz-linear-gradient(top,  #23272D 5%,  #727E91 100%);
    background: -o-linear-gradient(top,  #23272D 5%,  #727E91 100%);  
}

/*uicontainer*/
.xui-uibar-top .xui-uibar-tdlt, .xui-uibar-top .xui-uibar-tdmt, .xui-uibar-top .xui-uibar-tdrt, 
.xui-uibar-top-s .xui-uibar-tdl, .xui-uibar-top-s .xui-uibar-tdm, .xui-uibar-top-s .xui-uibar-tdr, 
.xui-uibar-bottom .xui-uibar-tdl, .xui-uibar-bottom .xui-uibar-tdm, .xui-uibar-bottom .xui-uibar-tdr,
.xui-uibar-bottom-s .xui-uibar-tdl, .xui-uibar-bottom-s .xui-uibar-tdm, .xui-uibar-bottom-s .xui-uibar-tdr{
}

.xui-uicon-main,
.xui-uibar-top .xui-uibar-tdl,
.xui-uibar-top .xui-uibar-tdr{
}
.xui-uibar-top .xui-uibar-tdm{
}
.xui-uicon-maini,
.xui-uibar-top .xui-uibar-tdr{
}
.xui-uibar-top .xui-uibar-tdb{
  display:block;
}
.xui-uibar-top .xui-uibar-tdlt{
  height:30px;
  background-position: 0 0;
}
.xui-uibar-top .xui-uibar-tdmt{
  height:30px;
}
.xui-uibar-top .xui-uibar-tdrt{
  height:30px;
}
.xui-uibar-top-focus .xui-uibar-tdl,
.xui-uibar-top-focus .xui-uibar-tdm,
.xui-uibar-top-focus .xui-uibar-tdr{
  background-color: #455164;
}
 

.xui-uibar-bottom{
    padding:3px 0;
}
.xui-uibar-bottom .xui-uibar-tdl{
}
.xui-uibar-bottom .xui-uibar-tdm{
}
.xui-uibar-bottom .xui-uibar-tdr{
}


.xui-uibar-top-s, .xui-uibar-bottom-s{
    padding:5px 0 0 0;
}
.xui-uibar-top-s .xui-uibar-tdl{
}
.xui-uibar-top-s .xui-uibar-tdm{
}
.xui-uibar-top-s .xui-uibar-tdr{
}
.xui-uibar-bottom-s .xui-uibar-tdl{
}
.xui-uibar-bottom-s .xui-uibar-tdm{
}
.xui-uibar-bottom-s .xui-uibar-tdr{
}

/*xui.UI.Tabs*/
/*.xui-tabs-items{padding:0 0 4px 0;}*/
.xui-tabs-item{
    border-color:#727E91;
}
.xui-tabs-item-mouseover, .xui-tabs-item-mousedown, .xui-tabs-item-checked{
}
.xui-tabs-item-mousedown, .xui-tabs-item-checked{
}
/*to adjust item size*/
.xui-tabs-handle{
    padding:0;
}
.xui-tabs-item-checked .xui-tabs-handle{
    padding-bottom:1px;
}
/*xui.UI.TreeGrid*/
.xui-uicell,
.xui-treegrid{
		background-color: #292D34;
}
.xui-uicell-alt,
.xui-treegrid-alt{
		background-color: #808080;
}
.xui-treegrid-rownum{
		color:#eee;
}
.xui-hcell,
.xui-treegrid-fhcell, .xui-treegrid-hcell, .xui-treegrid-hscell,
.xui-treegrid-header1, .xui-treegrid-header2{
    background: #495362;
}
.xui-hcell,
.xui-treegrid-fhcell, .xui-treegrid-hcell, .xui-treegrid-hscell{
    border-color: #727E91 #23272D #23272D #727E91;
}
.xui-treegrid-fhcell-mouseover, .xui-treegrid-hcell-mouseover, .xui-treegrid-hscell-mouseover{
    background: #5D6878;
}
.xui-treegrid-fcell, .xui-treegrid-cell, 
.xui-treegrid-cells1-group, .xui-treegrid-cells2-group{
    border-right:0;
    padding-right:1px;
}

.xui-treegrid-cells1-mouseover, .xui-treegrid-cells2-mouseover{
    background-color: #5D6878;
}
.xui-treegrid-cells1-active, .xui-treegrid-cells2-active, 
.xui-treegrid-cell-active, .xui-treegrid-cell-active .xui-treegrid-cella{
    background-color: #596474;
}
.xui-treegrid-cells1-hot, .xui-treegrid-cells2-hot{
    background-color: #5DA778;
}
.xui-uicell-checked, .xui-uicell-checked .xui-node,
.xui-treegrid-cell-checked, .xui-treegrid-cell-checked .xui-node,
.xui-treegrid-cells1-checked, .xui-treegrid-cells1-checked .xui-node, 
.xui-treegrid-cells2-checked, .xui-treegrid-cells2-checked .xui-node{
    background-color: #cdcdcd;
    color:#000;
}
.xui-uicell-mouseover,
.xui-treegrid-cell-mouseover, .xui-treegrid-cell-mouseover .xui-node{
    background-color: #38404C !important;
}


/*disable and readonly*/
input[readonly], textarea[readonly], 
input:read-only, textarea:read-only,
.xui-ui-readonly, .xui-ui-readonly .xui-node,
.xui-ui-itemreadonly, .xui-ui-itemreadonly .xui-node{
		color: #808080 !important;
}
.xui-ui-itemreadonly input, .xui-ui-itemreadonly textarea, 
.xui-ui-readonly textarea, .xui-ui-readonly textarea{
		color: #09090 !important;
}
button:disabled, a:disabled, 
.xui-ui-disabled, .xui-ui-disabled .xui-node,
.xui-ui-itemdisabled,  .xui-ui-itemdisabled .xui-node{
	color: #808080 !important;
}
input:disabled, textarea:disabled, 
.xui-uicell-disabled, .xui-uicell-disabled .xui-node,
.xui-ui-disabled input, .xui-ui-itemdisabled input, 
.xui-ui-disabled textarea, .xui-ui-itemdisabled textarea{
	 color: #909090 !important;
   background-color:#555 !important;
}

/*
.xui-ui-invalid, .xui-ui-invalid .xui-node{}
.xui-ui-shadow{}
.xui-special-icon{}
.xui-busy, .xui-ui-busy, .xui-uicmd-toggle-busy{}
.xui-required{}
.xui-alert{}
*/
.xui-ui-input {
    border-color:#23272D #7C889B #7C889B #23272D;
    background: #292D34;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/** important => the last one: this theme's name */
.setting-uikey{
    font-family: moonify;
}