/*base size*/
.xui-node{
    font-size: 12px;
}
.xui-title-node{
    font-size:1.1667em;
}
.xuifont, .xuicon{
    font-size:1.33333em;
}

/*background*/
.xui-uibase{
    background-color:#FFFFFF;
}
.xui-uibar{
    background-color:#BDDEC6;
}
.xui-uibar-hover{
    background-color:#D4E8D9;
}
.xui-uibar-active, .xui-uibar-checked, 
.xui-uimenu-hover, .xui-uimenu-active{
    background-color:#8CB796;
}
.xui-node-highlight, 
.xui-uibar-active, .xui-uibar-active .xui-node,
.xui-uibar-checked,  .xui-uibar-checked .xui-node, 
.xui-uimenu-hover,  .xui-uimenu-hover .xui-node,
.xui-uimenu-active, .xui-uimenu-active .xui-node{
	color:#ffffff;
}

/*border*/
.xui-uiborder-l{
    border-left-color:#D4E8D9;
}
.xui-uiborder-t{
    border-top-color:#D4E8D9;
}
.xui-uiborder-r{
    border-right-color:#779880;
}
.xui-uiborder-b{
    border-bottom-color:#779880;
}
.xui-uiborder-flat{
    border-color:#779880;
}
.xui-uiborder-outset{
    border-color:#D4E8D9 #779880 #779880 #D4E8D9;
}
.xui-uiborder-inset, .xui-uiborder-hidden-active, .xui-uiborder-hidden-checked{
    border-color:#779880 #D4E8D9 #D4E8D9 #779880;
}
.xui-uiborder-hidden-active, .xui-uiborder-hidden-checked{
    background: #D4E8D9;
}
.xui-uiborder-dark, .xui-uiborder-flat-hover, .xui-tabs-item{
    border-color:#779880;
}
.xui-uiborder-light, .xui-uiborder-hidden-hover{
    border-color:#D4E8D9;
}

/*item*/
.xui-uitembg-hover, .xui-uitembg-active, .xui-uitembg-checked{
    border-color:#779880;
}
.xui-uitembg-hover{
  background-color: #bddec6;
}
.xui-uitembg-active{
  background-color:#9DC0A4;
}
.xui-uitembg-checked{
  background-color: #8CB796;
}
.xui-uitembg-checked, .xui-uitembg-checked .xui-node{
	color:#ffffff;
}
/*gradient*/
.xui-ui-gradientbg, .xui-ui-btn{
    border-color:#779880;
    -moz-box-shadow:inset 0 1px 0 0 #D4E8D9;
    -webkit-box-shadow:inset 0 1px 0 0 #D4E8D9;
    box-shadow:inset 0 1px 0 0 #D4E8D9;    
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D4E8D9', endColorstr='#779880');
    background: linear-gradient(top,  #D4E8D9 5%,  #779880 100%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(0.05, #D4E8D9), to(1, #779880));
    background: -webkit-linear-gradient(top, #D4E8D9 5%, #779880 100%);
    background: -moz-linear-gradient(top,  #D4E8D9 5%,  #779880 100%);
    background: -o-linear-gradient(top,  #D4E8D9 5%,  #779880 100%);  
}
.xui-ui-gradientbg-hover, .xui-ui-btn:hover, .xui-ui-btn-hover{
    border-color: #8CBC96;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEDC', endColorstr='#86A78F');
    background: linear-gradient(top,  #FFEEDC 5%,  #86A78F 100%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(0.05, #FFEEDC), to(1, #86A78F));
    background: -webkit-linear-gradient(top, #FFEEDC 5%, #86A78F 100%);
    background: -moz-linear-gradient(top,  #FFEEDC 5%,  #86A78F 100%);
    background: -o-linear-gradient(top,  #FFEEDC 5%,  #86A78F 100%);  
}
.xui-ui-gradientbg-expand, .xui-ui-gradientbg-active, .xui-ui-gradientbg-checked,
.xui-ui-btn-active, .xui-ui-btn-checked,  
.xui-ui-btn:active, .xui-ui-btn-active:hover,  .xui-ui-btn-checked:hover{
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#779880', endColorstr='#D4E8D9');
    background: linear-gradient(top,  #779880 5%,  #D4E8D9 100%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(0.05, #779880), to(1, #D4E8D9));
    background: -webkit-linear-gradient(top, #779880 5%, #D4E8D9 100%);
    background: -moz-linear-gradient(top,  #779880 5%,  #D4E8D9 100%);
    background: -o-linear-gradient(top,  #779880 5%,  #D4E8D9 100%);  
}

/*uicontainer*/
.xui-uibar-top .xui-uibar-tdb{
  display:block;
}
.xui-uibar-top .xui-uibar-tdlt{
  height:30px;
}
.xui-uibar-top .xui-uibar-tdmt{
  height:30px;
}
.xui-uibar-top .xui-uibar-tdrt{
  height:30px;
}
.xui-uibar-focus, 
.xui-uibar-top-focus .xui-uibar-tdl,
.xui-uibar-top-focus .xui-uibar-tdm,
.xui-uibar-top-focus .xui-uibar-tdr{
  background-color: #F1D0B0;
}

.xui-uibar-top-s, .xui-uibar-bottom-s{
    padding:3px 0;
}


/*xui.UI.Tabs*/
/*.xui-tabs-items{padding:0 0 4px 0;}*/
.xui-tabs-item{
    background-color: #CCEDD5;
}
.xui-tabs-item-hover{
  background-color: #BDDEC6;
}
.xui-tabs-item-active{
  background-color:#9DC0A4;
}
.xui-tabs-item-checked{
  background-color: #8CB796;
}
 
/*xui.UI.TreeGrid*/
.xui-uicell,
.xui-treegrid{
    background-color: #F9FAFA;
}
.xui-uicell-alt,
.xui-treegrid-alt{
    background-color: #ffeedc;
}
.xui-hcell,
.xui-treegrid-fhcell, .xui-treegrid-hcell, .xui-treegrid-hscell,
.xui-treegrid-header1, .xui-treegrid-header2{
    background-color: #D8EDDE;
}
.xui-hcell,
.xui-treegrid-fhcell, .xui-treegrid-hcell, .xui-treegrid-hscell{
    border-color: #f6f6f6 #b5b5b5 #b5b5b5 #f6f6f6;
}
.xui-treegrid-fhcell-hover, .xui-treegrid-hcell-hover, .xui-treegrid-hscell-hover{
    background-color: #CFE3D5;
}
.xui-treegrid-cells1-hover, .xui-treegrid-cells2-hover{
    border-right:solid 1px #FFB5A2;
    background-color: #BDDEC6;
}
.xui-treegrid-cells1-active, .xui-treegrid-cells2-active, 
.xui-treegrid-cell-active, .xui-treegrid-cell-active .xui-treegrid-cella{
    background-color: #E7F2EA;
}
.xui-treegrid-cells1-hot, .xui-treegrid-cells2-hot{
    background-color: #FFE97F;
}
.xui-uicell-checked, .xui-uicell-checked .xui-node,
.xui-treegrid-cell-checked, .xui-treegrid-cell-checked .xui-node[class*="xui-treegrid-"],
.xui-treegrid-cells1-checked, .xui-treegrid-cells1-checked .xui-node[class*="xui-treegrid-"],
.xui-treegrid-cells2-checked,  .xui-treegrid-cells2-checked .xui-node[class*="xui-treegrid-"]{
    background-color: #779880;
    color:#fff;
}
.xui-uicell-hover,
.xui-treegrid-cell-hover, .xui-treegrid-cell-hover .xui-node[class*="xui-treegrid-"]{
    background-color: #CCEDD5 !important;
}

/*disable and readonly*/
.xui-node-readonly, 
input[readonly], textarea[readonly], input:read-only, textarea:read-only,
.xui-ui-readonly, .xui-ui-readonly .xui-node,
.xui-ui-itemreadonly, .xui-ui-itemreadonly .xui-node{
    color: #66666 !important;
}
.xui-node-disabled, 
button:disabled, a:disabled, input:disabled, textarea:disabled, 
.xui-ui-disabled, .xui-ui-disabled .xui-node,
.xui-ui-itemdisabled,  .xui-ui-itemdisabled .xui-node,
.xui-uicell-disabled, .xui-uicell-disabled .xui-node{
  color: #808080 !important;
}
/*
.xui-ui-invalid, .xui-ui-invalid .xui-node{}
.xui-ui-input{}
.xui-ui-shadow{}
.xui-special-icon{}
.xui-required{}
.xui-alert{}
*/

/** important => the last one: this theme's name */
.setting-uikey{
    font-family: army;
}