/*font*/
.xui-node{
    font-size: 12px;
    font-family:arial, helvetica, clean, sans-serif; 
    font-weight:normal; 
    color:#444; 
}
.xui-title-node{
		font-size:1.1667em;
}
.xuifont, .xuicon{
  font-size:1.33333em;
	color: #444;
}
.xuifont-hover, .xuicon-hover{
	color: #686868;
}
.xuifont-active, .xuicon-active{
	color: #3393D2; 
}
.xuifont-checked, .xuicon-checked{
	color: #3393D2; 
}

/*background*/
.xui-uibase{
    background-color:#FFFFFF;
}
.xui-uibar{
    background-color:#BCDDE0;
}
.xui-uibar-hover{
    background-color:#DAECEE;
}
.xui-uibar-active, .xui-uibar-checked, 
.xui-uimenu-hover, .xui-uimenu-active{
    background-color:#85AEC2;
}
.xui-node-highlight, 
.xui-uibar-active, .xui-uibar-active .xui-node,
.xui-uibar-checked,  .xui-uibar-checked .xui-node, 
.xui-uimenu-hover,  .xui-uimenu-hover .xui-node,
.xui-uimenu-active, .xui-uimenu-active .xui-node{
	color:#ffffff;
}

/*border*/
.xui-uiborder-l{
    border-left-color:#DAECEE;
}
.xui-uiborder-t{
    border-top-color:#DAECEE;
}
.xui-uiborder-r{
    border-right-color:#76979A;
}
.xui-uiborder-b{
    border-bottom-color:#76979A;
}
.xui-uiborder-flat{
    border-color:#76979A;
}
.xui-uiborder-outset{
    border-color:#DAECEE #76979A #76979A #DAECEE;
}
.xui-uiborder-inset, .xui-uiborder-hidden-active, .xui-uiborder-hidden-checked{
    border-color:#76979A #DAECEE #DAECEE #76979A;
}
.xui-uiborder-hidden-active, .xui-uiborder-hidden-checked{
    background: #DAECEE;
}
.xui-uiborder-dark, .xui-uiborder-flat-hover, .xui-tabs-item{
    border-color:#76979A;
}
.xui-uiborder-light, .xui-uiborder-hidden-hover{
    border-color:#DAECEE;
}

/*item*/
.xui-uitembg-hover, .xui-uitembg-active, .xui-uitembg-checked{
    border-color:#85AEC2;
}
.xui-uitembg-hover{
   background-color:#BCDDE0;
}
.xui-uitembg-active{
  background-color:#97B9C8;
}
.xui-uitembg-checked{
  background-color:#85AEC2;
}
.xui-uitembg-checked, .xui-uitembg-checked .xui-node{
	color:#ffffff;
}

/*gradient*/
.xui-ui-gradientbg, .xui-ui-btn{
    border-color:#638487;
    -moz-box-shadow:inset 0 1px 0 0 #DAECEE;
    -webkit-box-shadow:inset 0 1px 0 0 #DAECEE;
    box-shadow:inset 0 1px 0 0 #DAECEE;    
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DAECEE', endColorstr='#76979A');
    background-image: linear-gradient(top,  #DAECEE 5%,  #76979A 100%);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(0.05, #DAECEE), to(1, #76979A));
    background-image: -webkit-linear-gradient(top, #DAECEE 5%, #76979A 100%);
    background-image: -moz-linear-gradient(top,  #DAECEE 5%,  #76979A 100%);
    background-image: -o-linear-gradient(top,  #DAECEE 5%,  #76979A 100%);  
}
.xui-ui-gradientbg-hover, .xui-ui-btn:hover, .xui-ui-btn-hover{
    border-color: #76979A;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DAECEE', endColorstr='#85A6A9');
    background-image: linear-gradient(top,  #DAECEE 5%,  #85A6A9 100%);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(0.05, #DAECEE), to(1, #85A6A9));
    background-image: -webkit-linear-gradient(top, #DAECEE 5%, #85A6A9 100%);
    background-image: -moz-linear-gradient(top,  #DAECEE 5%,  #85A6A9 100%);
    background-image: -o-linear-gradient(top,  #DAECEE 5%,  #85A6A9 100%);  
}
.xui-ui-gradientbg-expand, .xui-ui-gradientbg-active, .xui-ui-gradientbg-checked,
.xui-ui-btn-active, .xui-ui-btn-checked,  
.xui-ui-btn:active, .xui-ui-btn-active:hover,  .xui-ui-btn-checked:hover{
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#76979A', endColorstr='#DAECEE');
    background-image: linear-gradient(top,  #76979A 5%,  #DAECEE 100%);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(0.05, #76979A), to(1, #DAECEE));
    background-image: -webkit-linear-gradient(top, #76979A 5%, #DAECEE 100%);
    background-image: -moz-linear-gradient(top,  #76979A 5%,  #DAECEE 100%);
    background-image: -o-linear-gradient(top,  #76979A 5%,  #DAECEE 100%);  
}

/*uicontainer*/
.xui-uibar-top .xui-uibar-tdb{
  display:block;
}
.xui-uibar-top .xui-uibar-tdlt{
  height:30px;
}
.xui-uibar-top .xui-uibar-tdmt{
  height:30px;
}
.xui-uibar-top .xui-uibar-tdrt{
  height:30px;
}
.xui-uibar-focus, 
.xui-uibar-top-focus .xui-uibar-tdl,
.xui-uibar-top-focus .xui-uibar-tdm,
.xui-uibar-top-focus .xui-uibar-tdr{
  background-color: #BCDDE0;
}

.xui-uibar-top-s, .xui-uibar-bottom-s{
    padding:3px 0;
}

/*xui.UI.Tabs*/
/*.xui-tabs-items{padding:0 0 4px 0;}*/
.xui-tabs-item{
    background-color: #CCEAFA;
}
.xui-tabs-item-hover{
   background-color:#BCDDE0;
}
.xui-tabs-item-active{
  background-color:#97B9C8;
}
.xui-tabs-item-checked{
  background-color:#85AEC2;
}

/*xui.UI.TreeGrid*/
.xui-uicell,
.xui-treegrid-cells1, .xui-treegrid-cells2{
  background-color: #F9F9FB;
}
.xui-uicell-alt,
.xui-treegrid-cells1-alt, .xui-treegrid-cells2-alt{
    background-color: #EEEEEE;
}
.xui-hcell,
.xui-treegrid-fhcell, .xui-treegrid-hcell, .xui-treegrid-hscell,
.xui-treegrid-header1, .xui-treegrid-header2{
    background-color: #D3E7F2;
}
.xui-hcell,
.xui-treegrid-fhcell, .xui-treegrid-hcell, .xui-treegrid-hscell{
    border-right:solid 1px #BDDEE0;
    border-bottom:solid 1px #BDDEE0;
}
.xui-treegrid-fhcell-hover, .xui-treegrid-hcell-hover, .xui-treegrid-hscell-hover{
    background-color: #CEE2E5;
}

.xui-treegrid-cells1-hover, .xui-treegrid-cells2-hover{
    background-color: #DFE8F6;
}
.xui-treegrid-cells1-active, .xui-treegrid-cells2-active, 
.xui-treegrid-cell-active, .xui-treegrid-cell-active .xui-treegrid-cella{
    background-color: #BCDDE0;
}
.xui-treegrid-cells1-hot, .xui-treegrid-cells2-hot{
    background-color: #FFE97F;
}
.xui-uicell-checked, .xui-uicell-checked .xui-node,
.xui-treegrid-cell-checked, .xui-treegrid-cell-checked .xui-treegrid-cella, .xui-treegrid-cell-checked .xui-treegrid-cellcaption,
.xui-treegrid-cells1-checked, .xui-treegrid-cells1-checked .xui-treegrid-cella, .xui-treegrid-cells1-checked .xui-treegrid-cellcaption,
.xui-treegrid-cells2-checked, .xui-treegrid-cells2-checked .xui-treegrid-cella, .xui-treegrid-cells2-checked .xui-treegrid-cellcaption{
    background-color: #76979A;
    color:#fff;
}
.xui-uicell-hover,
.xui-treegrid-cell-hover, .xui-treegrid-cell-hover .xui-treegrid-cella, .xui-treegrid-cell-hover .xui-treegrid-cellcaption
    background-color: #FFF1A0 !important;
}

/*disable and readonly*/
.xui-node-readonly, 
input[readonly], textarea[readonly], input:read-only, textarea:read-only,
.xui-ui-readonly, .xui-ui-readonly .xui-node,
.xui-ui-itemreadonly, .xui-ui-itemreadonly .xui-node{
    color: #66666 !important;
}
.xui-node-disabled, 
button:disabled, a:disabled, input:disabled, textarea:disabled, 
.xui-ui-disabled, .xui-ui-disabled .xui-node,
.xui-ui-itemdisabled,  .xui-ui-itemdisabled .xui-node,
.xui-uicell-disabled, .xui-uicell-disabled .xui-node{
  color: #808080 !important;
}
/*
.xui-ui-invalid, .xui-ui-invalid .xui-node{}
.xui-ui-input{}
.xui-ui-shadow{}
.xui-special-icon{}
.xui-required{}
.xui-alert{}
*/

/** important => the last one: this theme's name */
.setting-uikey{
    font-family: electricity;
}