/*font*/
.xui-ui-ctrl, .xui-ui-reset{
    color:#444; 
    font-size: 12px;
    font-family:arial, helvetica, clean, sans-serif; 
    font-weight:normal; 
}
.xui-title-node{
		font-size:1.1667em;
}
.xuifont, .xuicon{
  font-size:1.3333333333333333em;
}
.xuifont-hover, .xuicon-hover{
	color: #686868;
}
.xuifont-active, .xuicon-active{
	color: #3393D2; 
}
.xuifont-checked, .xuicon-checked{
	color: #3393D2; 
}
.xui-ui-ctrl-highlight, .xui-node-highlight, .xui-uibar-checked, .xui-uibar-expand,  .xui-uimenu-hover,.xui-uimenu-active{
		color:#fff;
}

/*background*/
.xui-uibase{
    background-color:#FFFFFF;
}
.xui-uibar{
    background-color:#F1D0B0;
}
.xui-uibar-hover{
    background-color:#F9EEE2;
}
.xui-uibar-active,.xui-uibar-checked, .xui-uibar-expand,  .xui-uimenu-hover,.xui-uimenu-active{
    background-color:#D0A27A;
}

/*border*/
.xui-uiborder-l{
    border-left-color:#F9EEE2;
}
.xui-uiborder-t{
    border-top-color:#F9EEE2;
}
.xui-uiborder-r{
    border-right-color:#C2A181;
}
.xui-uiborder-b{
    border-bottom-color:#C2A181;
}
.xui-uiborder-flat{
    border-color:#C2A181;
}
.xui-uiborder-outset{
    border-color:#F9EEE2 #C2A181 #C2A181 #F9EEE2;
}
.xui-uiborder-inset, .xui-uiborder-hidden-active, .xui-uiborder-hidden-checked{
    border-color:#C2A181 #F9EEE2 #F9EEE2 #C2A181;
}
.xui-uiborder-hidden-active, .xui-uiborder-hidden-checked{
    background: #F9EEE2;
}
.xui-uiborder-dark, .xui-uiborder-flat-hover, .xui-tabs-item{
    border-color:#C2A181;
}
.xui-uiborder-light, .xui-uiborder-hidden-hover{
    border-color:#F9EEE2;
}

/*item*/
.xui-uitembg-hover{
  border-color:#D0A27A;
  background-color: #F1D0B0;
}
.xui-uitembg-active{
  border-color:#D0A27A;
  background-color:#D3AC8E;
}
.xui-uitembg-checked{
  border-color:#D0A27A;
  background-color: #D0A27A;
}
.xui-uitembg-checked{
	color:#ffffff;
}

/*gradient*/
.xui-uigradient{
    color:#444; 
    background:none;
    border-color:#D0A27A;
    -moz-box-shadow:inset 0 1px 0 0 #F9EEE2;
    -webkit-box-shadow:inset 0 1px 0 0 #F9EEE2;
    box-shadow:inset 0 1px 0 0 #F9EEE2;    
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9EEE2', endColorstr='#EDDAC8');
    background-image: linear-gradient(top,  #F9EEE2 5%,  #EDDAC8 100%);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(0.05, #F9EEE2), to(1, #EDDAC8));
    background-image: -webkit-linear-gradient(top, #F9EEE2 5%, #EDDAC8 100%);
    background-image: -moz-linear-gradient(top,  #F9EEE2 5%,  #EDDAC8 100%);
    background-image: -o-linear-gradient(top,  #F9EEE2 5%,  #EDDAC8 100%);  
}
.xui-uigradient-hover, .xui-uigradient:hover{
    border-color: #d3ac8e;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEDC', endColorstr='#F9EEE2');
    background-image: linear-gradient(top,  #FFEEDC 5%,  #F9EEE2 100%);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(0.05, #FFEEDC), to(1, #F9EEE2));
    background-image: -webkit-linear-gradient(top, #FFEEDC 5%, #F9EEE2 100%);
    background-image: -moz-linear-gradient(top,  #FFEEDC 5%,  #F9EEE2 100%);
    background-image: -o-linear-gradient(top,  #FFEEDC 5%,  #F9EEE2 100%);  
}
.xui-uigradient-active, .xui-uigradient-checked,  .xui-uigradient-expand, 
.xui-uigradient:active, 
.xui-uigradient-active:hover, .xui-uigradient-checked:hover, .xui-uigradient-expand:hover{
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C2A181', endColorstr='#F9EEE2');
    background-image: linear-gradient(top,  #C2A181 5%,  #F9EEE2 100%);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(0.05, #C2A181), to(1, #F9EEE2));
    background-image: -webkit-linear-gradient(top, #C2A181 5%, #F9EEE2 100%);
    background-image: -moz-linear-gradient(top,  #C2A181 5%,  #F9EEE2 100%);
    background-image: -o-linear-gradient(top,  #C2A181 5%,  #F9EEE2 100%);  
}

/*uicontainer*/
.xui-uibar-focus, 
.xui-uibar-top-focus .xui-uibar-tdl,
.xui-uibar-top-focus .xui-uibar-tdm,
.xui-uibar-top-focus .xui-uibar-tdr{
  background-color: #F1D0B0;
}

/*xui.UI.TreeGrid*/
.xui-uicell,
.xui-treegrid-cells1, .xui-treegrid-cells2{
  background-color: #FAFAF9;
}
.xui-uicell-alt,
.xui-treegrid-cells1-alt, .xui-treegrid-cells2-alt{
    background-color: #ffeedc;
}

.xui-treegrid-cells1-hover, .xui-treegrid-cells2-hover{
    border-right:solid 1px #FFB5A2;
    background-color: #F7E7D7;
}
.xui-treegrid-cells1-active, .xui-treegrid-cells2-active, 
.xui-treegrid-cell-active, .xui-treegrid-cell-active .xui-treegrid-cella{
    background-color: #F8E5D3;
}
.xui-treegrid-cells1-hot, .xui-treegrid-cells2-hot{
    background-color: #FFE97F;
}
.xui-uicell-checked,
.xui-treegrid-cell-checked,
.xui-treegrid-cells1-checked,
.xui-treegrid-cells2-checked{
    background-color: #C2A181;
    color:#fff;
}
.xui-uicell-hover,
.xui-treegrid-cell-hover{
    background-color: #FFF1A0 !important;
}

/*
.xui-ui-input{}
.xui-ui-shadow{}
.xui-special-icon{}
.xui-required{}
.xui-alert{}
*/

/** important => the last one: this theme's name */
.setting-uikey{
    font-family: orange;
}