<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings/>
    <system.web>
        <compilation debug="true" />
        <authentication mode="Windows" />
        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
    </system.web>
</configuration>
