/*font*/
.xui-ui-ctrl, .xui-ui-reset{
    color:#444; 
    font-size: 1rem;
    font-family:arial, helvetica, clean, sans-serif; 
    font-weight:normal; 
}
.xui-title-node{
		font-size:1.1667em;
}
.xuifont, .xuicon{
  font-size:1.3333333333333333em;
}
.xuifont-hover, .xuicon-hover{
	color: #686868;
}
.xuifont-active, .xuicon-active{
	color: #3393D2; 
}
.xuifont-checked, .xuicon-checked{
	color: #3393D2; 
}
.xui-ui-ctrl-highlight, .xui-node-highlight, .xui-uibar-checked, .xui-uibar-expand,  .xui-uimenu-hover,.xui-uimenu-active{
		color:#fff;
}
/*background*/
.xui-uibase{
    background-color:#FFFFFF;
}
.xui-uibar{
    background-color:#BCDDE0;
}
.xui-uibar-hover{
    background-color:#DAECEE;
}
.xui-uibar-active,.xui-uibar-checked, .xui-uibar-expand,  .xui-uimenu-hover,.xui-uimenu-active{
    background-color:#85AEC2;
}

/*border*/
.xui-uiborder-l{
    border-left-color:#DAECEE;
}
.xui-uiborder-t{
    border-top-color:#DAECEE;
}
.xui-uiborder-r{
    border-right-color:#76979A;
}
.xui-uiborder-b, .xui-uitem-split{
    border-bottom-color:#76979A;
}
.xui-uiborder-flat{
    border-color:#76979A;
}
.xui-uiborder-outset{
    border-color:#DAECEE #76979A #76979A #DAECEE;
}
.xui-uiborder-inset, .xui-uiborder-hidden-active, .xui-uiborder-hidden-checked{
    border-color:#76979A #DAECEE #DAECEE #76979A;
}
.xui-uiborder-hidden-active, .xui-uiborder-hidden-checked{
    background: #DAECEE;
}
.xui-uiborder-dark, .xui-uiborder-flat-hover, .xui-tabs-item{
    border-color:#76979A;
}
.xui-uiborder-light, .xui-uiborder-hidden-hover{
    border-color:#DAECEE;
}

/*item*/
.xui-uitembg-hover{
  border-color:#85AEC2;
  background-color:#BCDDE0;
}
.xui-uitembg-active{
  border-color:#85AEC2;
  background-color:#97B9C8;
}
.xui-uitembg-checked{
  border-color:#85AEC2;
  background-color:#85AEC2;
}
.xui-uitembg-checked{
	color:#ffffff;
}

/*gradient*/
.xui-uigradient{
    color:#444; 
    background:none;
    border-color:#638487;
    -moz-box-shadow:inset 0 1px 0 0 #DAECEE;
    -webkit-box-shadow:inset 0 1px 0 0 #DAECEE;
    box-shadow:inset 0 1px 0 0 #DAECEE;    
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DAECEE', endColorstr='#76979A');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DAECEE', endColorstr='#76979A');
    background-image: linear-gradient(top,  #DAECEE 5%,  #76979A 100%);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(0.05, #DAECEE), to(1, #76979A));
    background-image: -webkit-linear-gradient(top, #DAECEE 5%, #76979A 100%);
    background-image: -moz-linear-gradient(top,  #DAECEE 5%,  #76979A 100%);
    background-image: -o-linear-gradient(top,  #DAECEE 5%,  #76979A 100%);  
}
.xui-uigradient-hover, .xui-uigradient:hover{
    border-color: #76979A;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DAECEE', endColorstr='#85A6A9');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DAECEE', endColorstr='#85A6A9');
    background-image: linear-gradient(top,  #DAECEE 5%,  #85A6A9 100%);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(0.05, #DAECEE), to(1, #85A6A9));
    background-image: -webkit-linear-gradient(top, #DAECEE 5%, #85A6A9 100%);
    background-image: -moz-linear-gradient(top,  #DAECEE 5%,  #85A6A9 100%);
    background-image: -o-linear-gradient(top,  #DAECEE 5%,  #85A6A9 100%);  
}
.xui-uigradient-active, .xui-uigradient-checked,  .xui-uigradient-expand, 
.xui-uigradient:active, 
.xui-uigradient-active:hover, .xui-uigradient-checked:hover, .xui-uigradient-expand:hover{
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#76979A', endColorstr='#DAECEE');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#76979A', endColorstr='#DAECEE');
    background-image: linear-gradient(top,  #76979A 5%,  #DAECEE 100%);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(0.05, #76979A), to(1, #DAECEE));
    background-image: -webkit-linear-gradient(top, #76979A 5%, #DAECEE 100%);
    background-image: -moz-linear-gradient(top,  #76979A 5%,  #DAECEE 100%);
    background-image: -o-linear-gradient(top,  #76979A 5%,  #DAECEE 100%);  
}

/*uicontainer*/
.xui-uibar-focus, 
.xui-uibar-top-focus .xui-uibar-tdl,
.xui-uibar-top-focus .xui-uibar-tdm,
.xui-uibar-top-focus .xui-uibar-tdr{
  background-color: #BCDDE0;
}


/*xui.UI.TreeGrid*/
.xui-uicell,
.xui-treegrid-cells1, .xui-treegrid-cells2{
  background-color: #F9F9FB;
}
.xui-uicell-alt,
.xui-treegrid-cells1-alt, .xui-treegrid-cells2-alt{
    background-color: #EEEEEE;
}
.xui-treegrid-cells1-hover, .xui-treegrid-cells2-hover{
    background-color: #DFE8F6;
}
.xui-treegrid-cells1-active, .xui-treegrid-cells2-active, 
.xui-treegrid-cell-active, .xui-treegrid-cell-active .xui-treegrid-cella{
    background-color: #BCDDE0;
}
.xui-treegrid-cells1-hot, .xui-treegrid-cells2-hot{
    background-color: #FFE97F;
}
.xui-uicell-checked,
.xui-treegrid-cell-checked,
.xui-treegrid-cells1-checked,
.xui-treegrid-cells2-checked{
    background-color: #76979A;
    color:#fff;
}
.xui-uicell-hover,
.xui-treegrid-cell-hover{
    background-color: #FFF1A0 !important;
}

/*
.xui-ui-input{}
.xui-ui-shadow{}
.xui-special-icon{}
.xui-required{}
.xui-alert{}
*/

/** important => the last one: this theme's name */
.setting-uikey{
    font-family: electricity;
}