@font-face{
  font-family: "xuifont";
  src: url('iconfont.eot?t=1467528113'); /* IE9*/
  src: url('iconfont.eot?t=1467528113#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1467528113') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1467528113') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1467528113#xuifont') format('svg'); /* iOS 4.1- */
}
.xuifont, .xuicon{
  font-family:"xuifont";
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  vertical-align:-15%;
}
.xui-rotate-90, .xui-rotate-180, .xui-rotate-270, .xui-flip-horizontal, .xui-flip-vertical {
    filter: none;
}
.xui-rotate-90 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
    -webkit-transform: rotate(900deg);
    -ms-transform: rotate(900deg);
    transform: rotate(90deg);
}
.xui-rotate-180 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.xui-rotate-270 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
.xui-horizontal {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
.xui-vertical {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
    -webkit-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}

.xui-icon-error:before { content: "\e674"  !important; }
.xui-load-error:before { content: "\e682"  !important; }

.xui-icon-placeholder:before{
	content: "\e62c";
}
.xui-icon-empty:before{
	content: "\e62c" !important;
}


@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-moz-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.xui-icon-loading{
    width: 1em;
    height: 1em;
}
.xui-icon-loading:before{
  position:absolute;
	content: " " !important;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:-1;
}
.xui-icon-loading:after{
  position:absolute;
	margin-top:-2.5em;
	content: "\e68d" !important;
  -webkit-animation: fa-spin 1.5s infinite linear;
  animation: fa-spin 1.5s infinite linear;
	z-index:10;
}
/*special for IE8*/
.xui-css-ie6  :before,
.xui-css-ie7  :before,
.xui-css-ie8  :before{
    content: none !important;
}
.xui-css-ie6  .xuicon,
.xui-css-ie7  .xuicon,
.xui-css-ie8  .xuicon{
    width: 1em;
    height: 1em;
}


.xui-icon-search:before { content: "\e619"; }
.xui-uicmd-helpinput:before { content: "\e671"; }
.xui-icon-zoomin:before { content: "\e61d"; }
.xui-icon-zoomout:before { content: "\e61e"; }
.xui-icon-bullet:before { content: "\e632"; }
.xui-icon-minus:before { content: "\e606"; }
.xui-uicmd-add:before { content: "\e609"; }
.xui-icon-star:before { content: "\e649"; }
.xui-icon-dragmove:before { content: "\e64a"; }
.xui-uicmd-check:before { content: "\e631"; }
.xui-uicmd-date:before { content: "\e64b"; }
.xui-icon-number:before { content: "\e633"; }
.xui-uicmd-pop:before { content: "\e61f"; }
.xui-icon-mouse:before { content: "\e64d"; }
.xui-icon-prev:before { content: "\e60a"; }
.xui-icon-question:before { content: "\e63d"; }
.xui-icon-indent:before { content: "\e634"; }
.xui-icon-outdent:before { content: "\e635"; }
.xui-icon-strikethrough:before { content: "\e636"; }
.xui-icon-inserthr:before { content: "\e637"; }
.xui-uicmd-remove:before { content: "\e66d"; }
.xui-icon-super:before { content: "\e638"; }
.xui-icon-sub:before { content: "\e639"; }
.xui-icon-alignjustify:before { content: "\e62b"; }
.xui-icon-alignright:before { content: "\e646"; }
.xui-uicmd-arrowdrop:before { content: "\e623"; }
.xui-icon-upload:before { content: "\e624"; }
.xui-icon-formatbrush:before { content: "\e63a"; }
.xui-refresh:before { content: "\e625"; }
.xui-icon-undo:before { content: "\e660"; }
.xui-uicmd-refresh:before { content: "\e621"; }
.xui-icon-date:before { content: "\e626"; }
.xui-icon-trash:before { content: "\e60c"; }
.xui-icon-alignleft:before { content: "\e647"; }
.xui-icon-singleright:before { content: "\e672"; }
.xui-icon-singleleft:before { content: "\e673"; }
.xui-uicmd-max:before { content: "\e60d"; }
.xui-icon-last:before { content: "\e60f"; }
.xui-icon-remove:before { content: "\e627"; }
.xui-uicmd-pin:before { content: "\e628"; }
.xui-icon-link:before { content: "\e63b"; }
.xui-icon-forecolor:before { content: "\e63c"; }
.xui-uicmd-time:before { content: "\e64f"; }
.xui-icon-aligncenter:before { content: "\e666"; }
.xui-uicmd-check-checked:before { content: "\e608"; }
.xui-uicmd-cmdbox:before { content: "\e64e"; }
.xui-uicmd-toggle:before { content: "\e601"; }
.xui-uicmd-getter:before { content: "\e657"; }
.xui-uicmd-save:before { content: "\e629"; }
.xui-icon-dragcopy:before { content: "\e612"; }
.xui-icon-dropdown:before { content: "\e679"; }
.xui-uicmd-popbox:before { content: "\e668"; }
.xui-uicmd-close:before { content: "\e62a"; }
.xui-uicmd-datetime:before { content: "\e66c"; }
.xui-icon-arrowright:before { content: "\e652"; }
.xui-icon-font:before { content: "\e63e"; }
.xui-icon-bgcolor:before { content: "\e63f"; }
.xui-icon-mobile:before { content: "\e600"; }
.xui-icon-clock:before { content: "\e602"; }
.xui-icon-circledown:before { content: "\e603"; }
.xui-icon-circleleft:before { content: "\e607"; }
.xui-icon-circleright:before { content: "\e658"; }
.xui-icon-circleup:before { content: "\e659"; }
.xui-uicmd-opt:before { content: "\e610"; }
.xui-icon-italic:before { content: "\e640"; }
.xui-icon-redo:before { content: "\e661"; }
.xui-icon-bold:before { content: "\e641"; }
.xui-icon-bigup:before { content: "\e650"; }
.xui-icon-doubledown:before { content: "\e65c"; }
.xui-icon-doubleleft:before { content: "\e65d"; }
.xui-icon-doubleright:before { content: "\e65e"; }
.xui-icon-doubleup:before { content: "\e65f"; }
.xui-icon-number5:before { content: "\e61c"; }
.xui-icon-number4:before { content: "\e64c"; }
.xui-icon-number7:before { content: "\e65a"; }
.xui-icon-number6:before { content: "\e67a"; }
.xui-icon-number3:before { content: "\e67b"; }
.xui-icon-number0:before { content: "\e67c"; }
.xui-icon-filter:before { content: "\e61a"; }
.xui-uicmd-color:before { content: "\e62e"; }
.xui-icon-breaklink:before { content: "\e642"; }
.xui-icon-picture:before { content: "\e643"; }
.xui-icon-number1:before { content: "\e67d"; }
.xui-icon-back:before { content: "\e62d"; }
.xui-icon-dragadd:before { content: "\e614"; }
.xui-icon-formatclear:before { content: "\e644"; }
.xui-uicmd-select:before { content: "\e66e"; }
.xui-icon-number8:before { content: "\e67e"; }
.xui-icon-number9:before { content: "\e67f"; }
.xui-icon-number2:before { content: "\e680"; }
.xui-uicmd-file:before { content: "\e66b"; }
.xui-icon-triangle-up:before { content: "\e676"; }
.xui-icon-dragstop:before { content: "\e651"; }
.xui-uicmd-dotted:before { content: "\e62f"; }
.xui-icon-dialog:before { content: "\e82c"; }
.xui-icon-print:before { content: "\e613"; }
.xui-icon-right:before { content: "\e616"; }
.xui-icon-file:before { content: "\e617"; }
.xui-uicmd-info:before { content: "\e618"; }
.xui-icon-smill:before { content: "\e65b"; }
.xui-icon-sort:before { content: "\e620"; }
.xui-icon-arrowtop:before { content: "\e654"; }
.xui-icon-file-fold:before { content: "\e622"; }
.xui-icon-circle:before { content: "\e656"; }
.xui-icon-underline:before { content: "\e645"; }
.xui-uicmd-radio:before { content: "\e604"; }
.xui-uicmd-radio-checked:before { content: "\e605"; }
.xui-uicmd-restore:before { content: "\e630"; }
.xui-uicmd-toggle-checked:before { content: "\e662"; }
.xui-icon-smallup:before { content: "\e663"; }
.xui-icon-smalldown:before { content: "\e664"; }
.xui-icon-html:before { content: "\e665"; }
.xui-icon-code:before { content: "\e648"; }
.xui-uicmd-min:before { content: "\e667"; }
.xui-uicmd-location:before { content: "\e66f"; }
.xui-icon-file-expand:before { content: "\e669"; }
.xui-uicmd-delete:before { content: "\e670"; }
.xui-uicmd-land:before { content: "\e615"; }
.xui-icon-arrowbottom:before { content: "\e655"; }
.xui-icon-arrowleft:before { content: "\e653"; }
.xui-icon-next:before { content: "\e60b"; }
.xui-icon-first:before { content: "\e66a"; }
.xui-icon-triangle-left:before { content: "\e675"; }
.xui-icon-triangle-down:before { content: "\e677"; }
.xui-icon-triangle-right:before { content: "\e678"; }
.xui-icon-sort-checked:before { content: "\e6bb"; }
.xui-icon-transparent:before { content: "\e60e"; }
.xui-icon-menu:before { content: "\e611"; }
.xui-icon-menu-checked:before { content: "\e82d"; }
.xui-icon-numbers:before { content: "\e681"; }
.xui-icon-xui:before { content: "\e61b"; }
.xui-icon-singledown:before { content: "\e82e"; }
.xui-icon-singleup:before { content: "\e82f"; }
