@font-face{
  font-family: "xuifont";
  src: url('iconfont.eot?t=1467528113'); /* IE9*/
  src: url('iconfont.eot?t=1467528113#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1467528113') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1467528113') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1467528113#xuifont') format('svg'); /* iOS 4.1- */
}
.xuifont, .xuicon{
  font-family:"xuifont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  vertical-align:middle;
}
.xuifont, .xuicon{
  font-size:1.3333333333333333em;
  line-height:1em;
}

.xuicon{
  margin: 0 .25em;
  /* for IE67 */
  *height:1em;
  *width:1em;
}

.xuifont-hover, .xuicon-hover{ color: #686868; }
.xuifont-active, .xuicon-active{ color: #3393D2; }
.xuifont-checked, .xuicon-checked{ color: #3393D2; }

.xui-icon-empty:before, .xui-ui-busy:before{
	content: "\e62c" !important;
	display:inline-block;
	height:1em;
	width:1em;
}

/*special for IE8*/
.xui-css-ie8 :before{
    content: none !important;
}
