@font-face{
  font-family: "xuifont";
  src: url('iconfont.eot?t=1467528113'); /* IE9*/
  src: url('iconfont.eot?t=1467528113#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1467528113') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1467528113') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1467528113#xuifont') format('svg'); /* iOS 4.1- */
}
.xuifont, .xuifontsmall, .xuicon{
  font-family:"xuifont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  color: #444;
  vertical-align:middle;
}
.xuifont, .xuicon{
  font-size:16px;
  line-height:1em;
}
.xuifontsmall{
  font-size:16px;
  line-height:1em;
}
.xuicon{
  margin: 0 4px;
}
.xuifont-mouseover, .xuicon-mouseover{ color: #000; }
.xuifont-mousedown, .xuicon-mousedown{ color: #FF0000; }
.xuifont-checked, .xuicon-checked{ color: #FF0000; }

.xui-icon-empty:before, .xui-ui-busy:before{ content: "\e62c" !important; }
