/*font*/
.xui-node{
    font-size: 12px;
    font-family:arial, helvetica, clean, sans-serif; 
    font-weight:normal; 
    color:#444; 
}
.xui-title-node{
		font-size:1.1667em;
}
.xuifont, .xuicon{
  font-size:1.33333em;
	color: #444;
}
.xuifont-hover, .xuicon-hover{
	color: #686868;
}
.xuifont-active, .xuicon-active{
	color: #3393D2; 
}
.xuifont-checked, .xuicon-checked{
	color: #3393D2; 
}

/*background*/
.xui-uibase{
    background-color:#FFFFFF;
}
.xui-uibar{
    background-color:#EEB2D9;
}
.xui-uibar-hover{
    background-color:#F8E3F0;
}
.xui-uibar-active, .xui-uibar-checked, 
.xui-uimenu-hover, .xui-uimenu-active{
    background-color:#cc7db3;
}
.xui-node-highlight, 
.xui-uibar-active, .xui-uibar-active .xui-node,
.xui-uibar-checked,  .xui-uibar-checked .xui-node, 
.xui-uimenu-hover,  .xui-uimenu-hover .xui-node,
.xui-uimenu-active, .xui-uimenu-active .xui-node{
	color:#ffffff;
}

/*border*/
.xui-uiborder-l{
    border-left-color:#F8E3F0;
}
.xui-uiborder-t{
    border-top-color:#F8E3F0;
}
.xui-uiborder-r{
    border-right-color:#BF83AA;
}
.xui-uiborder-b{
    border-bottom-color:#BF83AA;
}
.xui-uiborder-flat{
    border-color:#BF83AA;
}
.xui-uiborder-outset{
    border-color:#F8E3F0 #BF83AA #BF83AA #F8E3F0;
}
.xui-uiborder-inset, .xui-uiborder-hidden-active, .xui-uiborder-hidden-checked{
    border-color:#BF83AA #F8E3F0 #F8E3F0 #BF83AA;
}
.xui-uiborder-hidden-active, .xui-uiborder-hidden-checked{
    background: #F8E3F0;
}
.xui-uiborder-dark, .xui-uiborder-flat-hover, .xui-tabs-item{
    border-color:#D996BF;
}
.xui-uiborder-light, .xui-uiborder-hidden-hover{
    border-color:#F8E3F0;
}

/*item*/
.xui-uitembg-hover, .xui-uitembg-active, .xui-uitembg-checked{
    border-color:#BF83AA;
}
.xui-uitembg-hover{
  background-color: #CC7DB3;
}
.xui-uitembg-active{
  background-color:#D091BD;
}
.xui-uitembg-checked{
  background-color:#EEB2D9;
}

/*gradient*/
.xui-ui-gradientbg, .xui-ui-btn{
    border-color:#BF83AA;
    -moz-box-shadow:inset 0 1px 0 0 #F8E3F0;
    -webkit-box-shadow:inset 0 1px 0 0 #F8E3F0;
    box-shadow:inset 0 1px 0 0 #F8E3F0;    
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F8E3F0', endColorstr='#BF83AA');
    background: linear-gradient(top,  #F8E3F0 5%,  #BF83AA 100%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(0.05, #F8E3F0), to(1, #BF83AA));
    background: -webkit-linear-gradient(top, #F8E3F0 5%, #BF83AA 100%);
    background: -moz-linear-gradient(top,  #F8E3F0 5%,  #BF83AA 100%);
    background: -o-linear-gradient(top,  #F8E3F0 5%,  #BF83AA 100%);  
}
.xui-ui-gradientbg-hover, .xui-ui-btn:hover, .xui-ui-btn-hover{
    border-color: #CE92B9;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF5FD', endColorstr='#CE92B9');
    background: linear-gradient(top,  #FFF5FD 5%,  #CE92B9 100%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(0.05, #FFF5FD), to(1, #CE92B9));
    background: -webkit-linear-gradient(top, #FFF5FD 5%, #CE92B9 100%);
    background: -moz-linear-gradient(top,  #FFF5FD 5%,  #CE92B9 100%);
    background: -o-linear-gradient(top,  #FFF5FD 5%,  #CE92B9 100%);  
}
.xui-ui-gradientbg-expand, .xui-ui-gradientbg-active, .xui-ui-gradientbg-checked,
.xui-ui-btn-active, .xui-ui-btn-checked,  
.xui-ui-btn:active, .xui-ui-btn-active:hover,  .xui-ui-btn-checked:hover{
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEB2D9', endColorstr='#F8E3F0');
    background: linear-gradient(top,  #EEB2D9 5%,  #F8E3F0 100%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(0.05, #EEB2D9), to(1, #F8E3F0));
    background: -webkit-linear-gradient(top, #EEB2D9 5%, #F8E3F0 100%);
    background: -moz-linear-gradient(top,  #EEB2D9 5%,  #F8E3F0 100%);
    background: -o-linear-gradient(top,  #EEB2D9 5%,  #F8E3F0 100%);  
}

/*uicontainer*/
.xui-uibar-top .xui-uibar-tdb{
  display:block;
}
.xui-uibar-top .xui-uibar-tdlt{
  height:30px;
}
.xui-uibar-top .xui-uibar-tdmt{
  height:30px;
}
.xui-uibar-top .xui-uibar-tdrt{
  height:30px;
}
.xui-uibar-focus, 
.xui-uibar-top-focus .xui-uibar-tdl,
.xui-uibar-top-focus .xui-uibar-tdm,
.xui-uibar-top-focus .xui-uibar-tdr{
  background-color: #EEB2D9;
}

.xui-uibar-top-s, .xui-uibar-bottom-s{
    padding:5px 0 0 0;
}

/*xui.UI.Tabs*/
/*.xui-tabs-items{padding:0 0 4px 0;}*/
.xui-tabs-item{
    background-color:transparent; 
}
.xui-tabs-item-hover{
    background-color: #F8E3F0;
}
.xui-tabs-item-active{
    background-color: #D091BD;
}
.xui-tabs-item-checked{
    background-color: #cc7db3;
}
 
/*xui.UI.TreeGrid*/
.xui-uicell,
.xui-treegrid-cells1, .xui-treegrid-cells2{
  background-color: #FAF9F9;
}
.xui-uicell-alt,
.xui-treegrid-cells1-alt, .xui-treegrid-cells2-alt{
    background-color: #EFF8FF;
}
.xui-hcell,
.xui-treegrid-fhcell, .xui-treegrid-hcell, .xui-treegrid-hscell,
.xui-treegrid-header1, .xui-treegrid-header2{
    background-color: #F7CFE8;
}
.xui-hcell,
.xui-treegrid-fhcell, .xui-treegrid-hcell, .xui-treegrid-hscell{
    border-color: #fff5fd  #EEB2D9 #EEB2D9 #fff5fd;
}
.xui-treegrid-fhcell-hover, .xui-treegrid-hcell-hover, .xui-treegrid-hscell-hover{
    background-color: #EDC7DE;
}

.xui-treegrid-cells1-hover, .xui-treegrid-cells2-hover{
    border-right:solid 1px #FFB5A2;
    background-color: #DFE8F6;
}
.xui-treegrid-cells1-active, .xui-treegrid-cells2-active, 
.xui-treegrid-cell-active, .xui-treegrid-cell-active .xui-treegrid-cella{
    background-color: #EEB2D9;
}
.xui-treegrid-cells1-hot, .xui-treegrid-cells2-hot{
    background-color: #FFE97F;
}
.xui-uicell-checked, .xui-uicell-checked .xui-node,
.xui-treegrid-cell-checked, .xui-treegrid-cell-checked .xui-node[class*="xui-treegrid-"],
.xui-treegrid-cells1-checked, .xui-treegrid-cells1-checked .xui-node[class*="xui-treegrid-"], 
.xui-treegrid-cells2-checked, .xui-treegrid-cells2-checked .xui-node[class*="xui-treegrid-"]{
    background-color: #D996BF;
    color:#fff;
}
.xui-uicell-hover,
.xui-treegrid-cell-hover, .xui-treegrid-cell-hover .xui-node[class*="xui-treegrid-"]{
    background-color: #F8E3F0 !important;
}

/*disable and readonly*/
.xui-node-readonly, 
input[readonly], textarea[readonly], input:read-only, textarea:read-only,
.xui-ui-readonly, .xui-ui-readonly .xui-node,
.xui-ui-itemreadonly, .xui-ui-itemreadonly .xui-node{
    color: #66666 !important;
}
.xui-node-disabled, 
button:disabled, a:disabled, input:disabled, textarea:disabled, 
.xui-ui-disabled, .xui-ui-disabled .xui-node,
.xui-ui-itemdisabled,  .xui-ui-itemdisabled .xui-node,
.xui-uicell-disabled, .xui-uicell-disabled .xui-node{
  color: #808080 !important;
}

/*
.xui-ui-invalid, .xui-ui-invalid .xui-node{}
.xui-ui-input{}
.xui-ui-shadow{}
.xui-special-icon{}
.xui-required{}
.xui-alert{}
*/

/** important => the last one: this theme's name */
.setting-uikey{
    font-family: pink;
}