/*base size*/
.xui-node{
    font-size: 1rem;
    color:#444;
}
.xui-title-node{
		font-size:1.1667em;
}
.xuifont, .xuicon{
    font-size:1.33333em;
}
.xuifont-hover, .xuicon-hover{ color: #888; }
.xuifont-active, .xuicon-active{ color: #222; }
.xuifont-checked, .xuicon-checked{ color: #000; }

/*background*/
.xui-uibase{
    background-color:#FFFFFF;
}
.xui-uibar{
    background-color:#F8F6F2;
}
.xui-uibar-hover{
    background-color:#EEECE8;
}
.xui-uibar-active, .xui-uibar-checked, 
.xui-uimenu-hover, .xui-uimenu-active{
    background-color:#CFE4FE;
}

/*border*/
.xui-uiborder-radius, .xui-uiborder-radius-big, 
.xui-uiborder-radius-tl, .xui-uiborder-radius-tr, .xui-uiborder-radius-bl, .xui-uiborder-radius-br,
.xui-uiborder-radius-big-tl, .xui-uiborder-radius-big-tr, .xui-uiborder-radius-big-bl, .xui-uiborder-radius-big-br{
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -khtml-border-radius: 0;
}
.xui-uiborder-l{
    border-left-color:#fff;
}
.xui-uiborder-t{
    border-top-color:#fff;
}
.xui-uiborder-r{
    border-right-color:#ccc;
}
.xui-uiborder-b{
    border-bottom-color:#ccc;
}
.xui-uiborder-flat{
    border-color:#ccc;
}
.xui-uiborder-outset{
    border-color:#fff #ccc #ccc #fff;
}
.xui-uiborder-inset, .xui-uiborder-hidden-active, .xui-uiborder-hidden-checked{
    border-color:#ccc #fff #fff #ccc;
}
.xui-uiborder-hidden-active, .xui-uiborder-hidden-checked{
    background: #fff;
}
.xui-uiborder-dark, .xui-uiborder-flat-hover, .xui-tabs-item{
    border-color: #bcbcbc;
}
.xui-uiborder-light, .xui-uiborder-hidden-hover{
    border-color:#efefef;
}

/*item*/
.xui-uitembg{
}
.xui-uitembg-hover, .xui-uitembg-active, .xui-uitembg-checked{
    border-color:transparent;
}
.xui-uitembg-hover{
  background-color: #EBF3FD;
}
.xui-uitembg-active{
  background-color:#F1F7FE;
}
.xui-uitembg-checked{
  background-color:#CFE4FE;
}

/*gradient*/
.xui-ui-gradientbg, .xui-ui-btn{
    border-color:#ccc;
    background: #eee;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    filter: none;
}
.xui-ui-gradientbg-hover, .xui-ui-btn:hover, .xui-ui-btn-hover{
    border-color:#bbb;
    background: #EAEAEA;
}
.xui-ui-gradientbg-expand, .xui-ui-gradientbg-active, .xui-ui-gradientbg-checked,
.xui-ui-btn-active, .xui-ui-btn-checked,  
.xui-ui-btn:active, .xui-ui-btn-active:hover,  .xui-ui-btn-checked:hover{
    background: #EEECE8;
}

/*uicontainer*/
.xui-uibar-top .xui-uibar-tdlt, .xui-uibar-top .xui-uibar-tdmt, .xui-uibar-top .xui-uibar-tdrt, 
.xui-uibar-top-s .xui-uibar-tdl, .xui-uibar-top-s .xui-uibar-tdm, .xui-uibar-top-s .xui-uibar-tdr, 
.xui-uibar-bottom .xui-uibar-tdl, .xui-uibar-bottom .xui-uibar-tdm, .xui-uibar-bottom .xui-uibar-tdr,
.xui-uibar-bottom-s .xui-uibar-tdl, .xui-uibar-bottom-s .xui-uibar-tdm, .xui-uibar-bottom-s .xui-uibar-tdr{
}

.xui-uicon-main,
.xui-uibar-top .xui-uibar-tdl,
.xui-uibar-top .xui-uibar-tdr{
}
.xui-uibar-top .xui-uibar-tdm{
}
.xui-uicon-maini,
.xui-uibar-top .xui-uibar-tdr{
}
.xui-uibar-top .xui-uibar-tdlt{
  height:30px;
  background-position: 0 0;
}
.xui-uibar-top .xui-uibar-tdmt{
  height:30px;
}
.xui-uibar-top .xui-uibar-tdrt{
  height:30px;
}
.xui-uibar-focus, 
.xui-uibar-top-focus .xui-uibar-tdl,
.xui-uibar-top-focus .xui-uibar-tdm,
.xui-uibar-top-focus .xui-uibar-tdr{
  background-color: #ededed;
}

.xui-uibar-bottom .xui-uibar-tdl{
}
.xui-uibar-bottom .xui-uibar-tdm{
}
.xui-uibar-bottom .xui-uibar-tdr{
}


.xui-uibar-top-s, .xui-uibar-bottom-s{
    padding:5px 0 0 0;
}
.xui-uibar-top-s .xui-uibar-tdl{
}
.xui-uibar-top-s .xui-uibar-tdm{
}
.xui-uibar-top-s .xui-uibar-tdr{
}
.xui-uibar-bottom-s .xui-uibar-tdl{
}
.xui-uibar-bottom-s .xui-uibar-tdm{
}
.xui-uibar-bottom-s .xui-uibar-tdr{
}


/*xui.UI.Tabs*/
.xui-tabs-list{
    background:#f8f6f2;
    border-top: solid 1px #ccc;
}
.xui-tabs-items{
     padding:0;
}
.xui-tabs-listbg{
     background:none;
     border-top:0;
}
.xui-tabs-item{
    background-color: transparent;
    border-color: transparent;
    margin:0 4px;
}
.xui-tabs-item-hover, .xui-tabs-item-active, .xui-tabs-item-checked{
    border-left: solid 1px #ccc;
    border-top: solid 1px #ccc;
    border-right: solid 1px #ccc;
}
.xui-tabs-item-active, .xui-tabs-item-checked{
    background-color: #ffffff;
}

.xui-buttonviews-item{
    margin:0;
    border:0;
    background:none;
}
.xui-buttonviews-item-hover{
    background:none;
}
.xui-buttonviews-item-active{
    background:#efefef;
}
.xui-buttonviews-item-checked{
    background:#ffffff;
}
.xui-buttonviews-list-top .xui-buttonviews-item-checked{
    border-top:solid 3px #ff0000;
}
.xui-buttonviews-list-bottom .xui-buttonviews-item-checked{
    border-bottom:solid 3px #ff0000;
}
.xui-buttonviews-list-left .xui-buttonviews-item-checked{
    border-left:solid 3px #ff0000;
}
.xui-buttonviews-list-right .xui-buttonviews-item-checked{
    border-right:solid 3px #ff0000;
}

/*to adjust item size*/
.xui-tabs-handle{
  padding:1px 1px 0 1px;
}
.xui-tabs-item-hover .xui-tabs-handle, 
.xui-tabs-item-active .xui-tabs-handle, 
.xui-tabs-item-checked .xui-tabs-handle{
  padding:1px 1px 0 1px;
}

/*xui.UI.TreeGrid*/
.xui-treegrid-cells1-active, .xui-treegrid-cells2-active, 
.xui-treegrid-cell-active, .xui-treegrid-cell-active .xui-treegrid-cella{
    background-color: #B0EAFA;
}
.xui-treegrid-cells1-hot, .xui-treegrid-cells2-hot{
    background-color: #FFE97F;
}
.xui-uicell-checked, .xui-uicell-checked .xui-node,
.xui-treegrid-cell-checked, .xui-treegrid-cell-checked .xui-node[class*="xui-treegrid-"],
.xui-treegrid-cells1-checked, .xui-treegrid-cells1-checked .xui-node[class*="xui-treegrid-"], 
.xui-treegrid-cells2-checked, .xui-treegrid-cells2-checked .xui-node[class*="xui-treegrid-"]{
    background-color: #ccc;
    color:#fff;
}
.xui-uicell-hover,
.xui-treegrid-cell-hover, .xui-treegrid-cell-hover .xui-node[class*="xui-treegrid-"]{
    background-color: #D9E8FB !important;
}

/*disable and readonly*/
.xui-node-readonly, 
input[readonly], textarea[readonly], input:read-only, textarea:read-only,
.xui-ui-readonly, .xui-ui-readonly .xui-node,
.xui-ui-itemreadonly, .xui-ui-itemreadonly .xui-node{
    color: #66666 !important;
}
.xui-node-disabled, 
button:disabled, a:disabled, input:disabled, textarea:disabled, 
.xui-ui-disabled, .xui-ui-disabled .xui-node,
.xui-ui-itemdisabled,  .xui-ui-itemdisabled .xui-node,
.xui-uicell-disabled, .xui-uicell-disabled .xui-node{
  color: #808080 !important;
}

/*
.xui-ui-invalid, .xui-ui-invalid .xui-node{}
.xui-ui-shadow{}
.xui-special-icon{}
.xui-required{}
.xui-alert{}
*/
.xui-ui-shadow-input {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/** important => the last one: this theme's name */
.setting-uikey{
    font-family: classic;
}