/*base size*/
.xui-ui-ctrl, .xui-ui-reset{
    font-size: 12px;
}
.xui-title-node{
		font-size:1.1667em;
}
.xuifont, .xuicon{
  font-size:1.3333333333333333em;
}
.xui-ui-ctrl-highlight, .xui-node-highlight, .xui-uibar-checked, .xui-uibar-expand,  .xui-uimenu-hover,.xui-uimenu-active{
		color:#fff;
}
/*background*/
.xui-uibase{
    background-color:#FFFFFF;
}
.xui-uibar{
    background-color:#749CC4;
}
.xui-uibar-hover{
    background-color:#C5D5E4;
}
.xui-uibar-active,.xui-uibar-checked, .xui-uibar-expand,  .xui-uimenu-hover,.xui-uimenu-active{
    background-color:#2B6394;
}

/*border*/
.xui-uiborder-l{
    border-left-color:#D9E8FB;
}
.xui-uiborder-t{
    border-top-color:#D9E8FB;
}
.xui-uiborder-r{
    border-right-color:#1D456D;
}
.xui-uiborder-b{
    border-bottom-color:#1D456D;
}
.xui-uiborder-flat{
    border-color:#1D456D;
}
.xui-uiborder-outset{
    border-color:#D9E8FB #1D456D #1D456D #D9E8FB;
}
.xui-uiborder-inset, .xui-uiborder-hidden-active, .xui-uiborder-hidden-checked{
    border-color:#1D456D #D9E8FB #D9E8FB #1D456D;
}
.xui-uiborder-hidden-active, .xui-uiborder-hidden-checked{
    background: #D9E8FB;
}
.xui-uiborder-dark, .xui-uiborder-flat-hover, .xui-tabs-item{
    border-color:#1D456D;
}
.xui-uiborder-light, .xui-uiborder-hidden-hover{
    border-color:#D9E8FB;
}

/*item*/
.xui-uitembg-hover, .xui-uitembg-active, .xui-uitembg-checked{
    background-image: url(Public/list_item.gif);
    background-repeat:repeat-x;
    border-color:#2B6394;
}
.xui-uitembg-hover{
  background-position:left -100px;
  background-color:#749CC4;
}
.xui-uitembg-active{
  background-position: left -300px;
  background-color:#447398;
}
.xui-uitembg-checked{
  background-position: left -200px;
  background-color:#2B6394;
}
.xui-uitembg-checked{
	color:#ffffff;
}

/*gradient*/
.xui-uigradient{
    color:#444; 
    background:none;
    border-color:#1D456D;
    -moz-box-shadow:inset 0 1px 0 0 #D9E8FB;
    -webkit-box-shadow:inset 0 1px 0 0 #D9E8FB;
    box-shadow:inset 0 1px 0 0 #D9E8FB;    
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D9E8FB', endColorstr='#1D456D');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D9E8FB', endColorstr='#1D456D');
    background-image: linear-gradient(top,  #D9E8FB 5%,  #1D456D 100%);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(0.05, #D9E8FB), to(1, #1D456D));
    background-image: -webkit-linear-gradient(top, #D9E8FB 5%, #1D456D 100%);
    background-image: -moz-linear-gradient(top,  #D9E8FB 5%,  #1D456D 100%);
    background-image: -o-linear-gradient(top,  #D9E8FB 5%,  #1D456D 100%);  
}
.xui-uigradient-hover, .xui-uigradient:hover{
    border-color: #749CC4;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D9E8FB', endColorstr='#749CC4');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D9E8FB', endColorstr='#749CC4');
    background-image: linear-gradient(top,  #D9E8FB 5%,  #749CC4 100%);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(0.05, #D9E8FB), to(1, #749CC4));
    background-image: -webkit-linear-gradient(top, #D9E8FB 5%, #749CC4 100%);
    background-image: -moz-linear-gradient(top,  #D9E8FB 5%,  #749CC4 100%);
    background-image: -o-linear-gradient(top,  #D9E8FB 5%,  #749CC4 100%);  
}
.xui-uigradient-active, .xui-uigradient-checked,  .xui-uigradient-expand, 
.xui-uigradient:active, 
.xui-uigradient-active:hover, .xui-uigradient-checked:hover, .xui-uigradient-expand:hover{
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1D456D', endColorstr='#D9E8FB');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1D456D', endColorstr='#D9E8FB');
    background-image: linear-gradient(top,  #1D456D 5%,  #D9E8FB 100%);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(0.05, #1D456D), to(1, #D9E8FB));
    background-image: -webkit-linear-gradient(top, #1D456D 5%, #D9E8FB 100%);
    background-image: -moz-linear-gradient(top,  #1D456D 5%,  #D9E8FB 100%);
    background-image: -o-linear-gradient(top,  #1D456D 5%,  #D9E8FB 100%);  
}

/*uicontainer*/
.xui-uiborder-box{
		border-width:0;
}
.xui-uibar-top .xui-uibar-tdlt, .xui-uibar-top .xui-uibar-tdmt, .xui-uibar-top .xui-uibar-tdrt, 
.xui-uibar-top-s .xui-uibar-tdl, .xui-uibar-top-s .xui-uibar-tdm, .xui-uibar-top-s .xui-uibar-tdr, 
.xui-uibar-bottom .xui-uibar-tdl, .xui-uibar-bottom .xui-uibar-tdm, .xui-uibar-bottom .xui-uibar-tdr,
.xui-uibar-bottom-s .xui-uibar-tdl, .xui-uibar-bottom-s .xui-uibar-tdm, .xui-uibar-bottom-s .xui-uibar-tdr{
    background-image: url(Public/con_vertical.gif);
    background-repeat: no-repeat;
    background-position: left top;
}

.xui-uicon-main,
.xui-uibar-top .xui-uibar-tdl,
.xui-uibar-top .xui-uibar-tdr{
    background-image: url(Public/con_left.gif);
    background-repeat: repeat-y;
    background-position: left top;
}
.xui-uibar-top .xui-uibar-tdm{
}
.xui-uicon-maini,
.xui-uibar-top .xui-uibar-tdr{
    background-image: url(Public/con_right.gif);
    background-repeat: repeat-y;
    background-position: right top;
}
.xui-uibar-top .xui-uibar-tdb{
  display:block;
}
.xui-uibar-top .xui-uibar-tdlt{
  background-position: 0 0;
}
.xui-uibar-top .xui-uibar-tdmt{
  background-position: 0 -30px;
  background-repeat: repeat-x;
}
.xui-uibar-top .xui-uibar-tdrt{
  background-position: right -60px;
}
.xui-uibar-focus, 
.xui-uibar-top-focus .xui-uibar-tdl,
.xui-uibar-top-focus .xui-uibar-tdm,
.xui-uibar-top-focus .xui-uibar-tdr{
  background-color: #749cc4;
}

.xui-uibar-top-focus .xui-uibar-tdlt{
  background-position: left -90px;
}
.xui-uibar-top-focus .xui-uibar-tdmt{
  background-position: left -120px;
  background-repeat: repeat-x;
}
.xui-uibar-top-focus .xui-uibar-tdrt{
  background-position: right -150px;
}

.xui-uibar-bottom .xui-uibar-tdl{
  background-position: left -189px;
}
.xui-uibar-bottom .xui-uibar-tdm{
  background-position: left -211px;
  background-repeat: repeat-x;
}
.xui-uibar-bottom .xui-uibar-tdr{
  background-position: right -233px;
}

.xui-uibar-top-s .xui-uibar-tdl{
  background-position: left -261px;
}
.xui-uibar-top-s .xui-uibar-tdm{
  background-position: left -283px;
  background-repeat: repeat-x;
}
.xui-uibar-top-s .xui-uibar-tdr{
  background-position: right -305px;
}
.xui-uibar-bottom-s .xui-uibar-tdl{
  background-position: left -327px;
}
.xui-uibar-bottom-s .xui-uibar-tdm{
  background-position: left -349px;
  background-repeat: repeat-x;
}
.xui-uibar-bottom-s .xui-uibar-tdr{
  background-position: right -370px;
}


/*xui.UI.Tabs*/
/*.xui-tabs-items{padding:0 0 4px 0;}*/
.xui-tabs-item{
    background-image: url(Public/list_item.gif);
    background-repeat:repeat-x;

    background-position: left top;
    background-color: #88B0D8;
}
.xui-tabs-item-hover{
  background-position:left -100px;
   background-color:#749CC4;
}
.xui-tabs-item-active{
  background-position: left -300px;
  background-color:#447398;
}
.xui-tabs-item-checked{
  background-position: left -200px;
  background-color:#2B6394;
}
 

/*xui.UI.TreeGrid*/
.xui-uicell,
.xui-treegrid-cells1, .xui-treegrid-cells2{
  background-color: #D9E8FB;
}
.xui-uicell-alt,
.xui-treegrid-cells1-alt, .xui-treegrid-cells2-alt{
    background-color: #EEEEEE;
}

.xui-treegrid-cells1-hover, .xui-treegrid-cells2-hover{
    background-color: #749CC4;
}
.xui-treegrid-cells1-active, .xui-treegrid-cells2-active, 
.xui-treegrid-cell-active, .xui-treegrid-cell-active .xui-treegrid-cella{
    background-color: #749CC4;
}
.xui-treegrid-cells1-hot, .xui-treegrid-cells2-hot{
    background-color: #FFE97F;
}
.xui-uicell-checked,
.xui-treegrid-cell-checked,
.xui-treegrid-cells1-checked,
.xui-treegrid-cells2-checked{
    background-color: #1D456D;
    color:#fff;
}
.xui-uicell-hover,
.xui-treegrid-cell-hover{
    background-color: #749CC4 !important;
}

/*
.xui-ui-input{}
.xui-ui-shadow{}
.xui-special-icon{}
.xui-required{}
.xui-alert{}
*/

/** important => the last one: this theme's name */
.setting-uikey{
    font-family: darkblue;
}